<a href="https://colab.research.google.com/github/jpgill86/python-for-neuroscientists/blob/master/notebooks/02-The-Core-Language-of-Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# The Core Language of Python

This notebook will be primarily focused on "vanilla" Python. That is, the core language will be showcased, but third-party libraries (like NumPy, Pandas, Matplotlib) will be discussed elsewhere. This notebook is all about what the basic language can do.

That said, there are a some extra features available in Jupyter notebooks that are not part of the core language but which will be useful to introduce here. These will be sprinked in where appropriate.

## Getting Help While Coding

Even veteran Python programmers need to look things up sometimes! As you work through this notebook and start to write your own code, keep these tips in mind:

* Python has a built-in documentation system, which is accessed using the `help()` function. For example, `help(print)` or `help(str)` can give you more information about functions and data types (try it!). You can use it on variables that have been defined in your code as well.

* In Jupyter notebooks, you can get some of the same information (often with fewer technical details) to appear in a separate "Help" tab by using the special `?` symbol, which can be placed before or immediately after a name. For examples, try `? print` or `max?`.

* The online, official documentation is great for in-depth, definitive information: [https://docs.python.org](https://docs.python.org)

* Googling with the right search terms, like "python list slicing", will get you very far in life. Just be aware that results for older versions of Python, especially Python 2, may come up and no longer be correct. To check the version of Python you are using, just run this code:

In [ ]:
from sys import version
print(version)

3.6.9 (default, Jul 17 2020, 12:50:27)
[GCC 8.4.0]

## Comments

In Python, the `#` character indicates the start of a **comment**. Everything on a line of code that comes after a `#` character is ignored by the computer.

> *Aside: Colab allows you to attach notes to cells, which are confusingly also called "comments". These are not the same thing as code comments.*

Code comments have two purposes:

* Comments allow you to include explanations of how the code works. This is an essential habit every programmer should develop: **write helpful comments in your code**. This helps others understand how your code works. This (especially) includes *future-you*!
* You can **reversibly disable** a line of code by putting a `#` character at the start. When developing code, this is very useful.

Here's a trivial example of an explanatory comment:

In [ ]:
# calculate one plus one
1 + 1

2

Notice the comment is easily distinguishable by its color.

Colab provides a very useful keyboard shortcut for adding and removing the `#` symbol from the current line of code, or many lines at once if you select them first: Ctrl+/ (Cmd+/ on Mac).

Try placing your cursor in the code cell below and toggling the comment state of the line using the keyboard shortcut:

In [ ]:
# 1 + 1

## Variables and Operators

Data can be stored in variables using `=`. Try executing the two code cells below in order to first store the value `2` in the variable `x` and then to display the contents of `x`.

In [ ]:
# store 2 in x
x = 1 + 1

In [ ]:
# output the value of x
x

2

In Jupyter notebooks, you can list all of the variables (and functions, classes, imported modules) that you have defined, along with their values, using the "magic" command `%whos`:

In [ ]:
# remember this one -- it is super useful!
%whos

Variable   Type    Data/Info
----------------------------
version    str     3.6.9 (default, Jul 17 20<...>, 12:50:27) \n[GCC 8.4.0]
x          int     2

You can check a variable's type using the built-in `type()` function:

In [ ]:
type(x)

int

`int` stands for "integer".

Unlike some stricter languages, Python allows you to change the type of a variable effortlessly by assigning it a new value.

In [ ]:
x = 1.5

In [ ]:
type(x)

float

`float` stands for "floating point number", which is a format that computers use to represent decimal numbers. `int` and `float` are both numeric types.

Truth values are represented in Python using `True` and `False`, which have type `bool` (for "Boolean"). `True` and `False` must always start with capital letters. These values can be assigned to variables directly, or they can result from comparisons and tests.

For example, the `==` comparison operator (double-equals; this is different from the single-equals `=` used for variable assignment!) can be used to test whether two values match. It will evaluate to either `True` or `False`.

Try running the cell below twice, first with `x = 2` and a second time with `x = 1.5`. Use the keyboard shortcut for toggling comments (Ctrl+/ or Cmd+/) to switch which variable assignment is used when the cell runs.

In [ ]:
x = 2
# x = 1.5
type(x) == int

True

Python can, of course, perform the other basic mathematical operations, not just addition:

```python
5 + 2   # addition        = 7
5 - 2   # subtraction     = 3
5 * 2   # multiplication  = 10
5 / 2   # division        = 2.5
5 ** 2  # exponentiation  = 25
        # (do NOT use ^ for exponentiation, it does something very different!)

5 // 2  # integer division (drop remainder)  = 2
5 % 2   # modulus (remainder)                = 1
```

Python has many more comparison operators:

```python
x = 2      # assign 2 to x
t = True   # assign True to t
f = False  # assign False to f

x == 2     # equal                  = True
x != 2     # not equal              = False
x > 2      # greater than           = False
x < 2      # less than              = False
x >= 2     # greater than or equal  = True
x <= 2     # less than or equal     = True

t and f    # both true              = False
t or f     # either true            = True
not t      # negation               = False
not f      #                        = True
```

## Printing

To display the value of a variable or the result of a calculation, you can simply write the variable name or perform the calculation as the last thing in a code cell. For example:

In [ ]:
x = 1 + 1
x

2

If you try to do this with multiple variables or calculations, only the last will be displayed automatically:

In [ ]:
x = 1 + 1
y = x + 1

x
y

3

To display multiple things as a result of running one code cell, you can use the `print()` function:

In [ ]:
print(x)
print(y)

z = y + 1

print(z)
print(z + 1)

2
3
4
5

## Strings

Variables containing text are called strings and have type `str`. Strings can be enclosed by either double quotes (`""`) or single quotes (`''`). Which you use often comes down to personal preference.

In [60]:
genus = "Aplysia"
species = 'californica'

type(genus)

str

Multi-line strings can be constructed using three quote marks (either `"""` or `'''`). Inside of a **triple quoted string**, including a backslash (`\`) at the end of a line will cause the line break immediately following it to be ignored.

In the example below, a backslash is included at the end of the first line so that the string will not begin with an empty line. Also, the string is printed using `print()`, instead of just displayed by naming the variable, so that the line breaks will display properly.

In [61]:
long_string = """\
Strange women lying in ponds
distributing swords is no basis
for a system of government!
Supreme executive power derives
from a mandate from the masses,
not from some farcical aquatic
ceremony!"""

print(long_string)

Strange women lying in ponds
distributing swords is no basis
for a system of government!
Supreme executive power derives
from a mandate from the masses,
not from some farcical aquatic
ceremony!

> *Aside: The Python language is named after the British comedy troupe "Monty Python", and the text above is a quote from their 1975 film "Monty Python and the Holy Grail". You will not learn much about programming by watching it, but I still highly recommend it.*

Including a literal apostrophe (`'`) or quotation mark (`"`) inside your string can cause a problem if Python misinterprets the character as terminating your string. You can avoid this problem by either using the other type of quote to enclose your string, or by using a backslash to "escape" the literal punctuation mark, which tells Python to not interpret the character as terminating the string. That is, Python will interpret `\'` and `\"` as just punctuation in a string, rather than the end of the string.

In [62]:
# option 1: enclose the string in double quotes
# so that the apostrophe is not misinterpreted
string1 = "The slug's ink ain't pink; it's purple."

# option 2: use a backslash to escape the apostrophe
string2 = 'The slug\'s ink ain\'t pink; it\'s purple.'

print(string1)
print(string2)

The slug's ink ain't pink; it's purple.
The slug's ink ain't pink; it's purple.

The value of a string variable can be tested with `==`. Notice that, in the following example, switching from double quotes (above, when `genus` was assigned its value) to single quotes (below) does not matter.

In [63]:
genus == 'Aplysia'

True

Strings can also be **concatenated**, or put together, using `+`. Here, a string containing just a space is sandwiched between two string variables:

In [64]:
genus + ' ' + species

'Aplysia californica'

> *Aside: This is an example of* **operator overloading** *where the same symbol is used in different contexts to do different things. As we saw before, the `+` operator can be used to perform arithmetic addition, as well as to concatenate strings. It can also be used to join lists, as will be described below.*

For more complex string manipulation, a special type of string called an **f-string** may be useful. F-strings are distinguished by the character `f` immediately preceding the enclosing quotes (either `f'...'` or `f"..."`). The `f` stands for "format", and f-strings allow you both to combine variables into a single string and to control the way numbers are displayed.

In an f-string, curly braces (`{}`) may enclose the names of variables or more complex expressions, and those expressions will be evaluated to create the string. For example, the previous example combined a genus and species name with `+` symbols, but this can also be done with f-strings:

In [65]:
f'{genus} {species}'

'Aplysia californica'

F-strings allow calculations to be performed inside of the curly braces:

In [ ]:
x = 2
y = 8

f'{x} raised to the {y}th power is {x**y}'

'2 raised to the 8th power is 256'

F-strings also allow numbers to be formatted just the way you want. For example, you can control how many digits after the decimal point are displayed using `{my_number:.xf}`, where `x` is the number of digits:

In [ ]:
pi = 3.14159265358979323846

f'The ratio of a circle\'s circumferance to its diameter is {pi:.5f}'

"The ratio of a circle's circumferance to its diameter is 3.14159"

> *Aside: Prior to the addition of f-strings to Python in 2016, strings could be (and still can be) formatted using different syntax. All of these are equivalent, but f-strings tend to be, in my opinion, most readable because of their simplicity, while also being incredibly flexible:*
```python
genus + ' ' + species
'%s %s' % (genus, species)
'{} {}'.format(genus, species)
'{g} {s}'.format(g=genus, s=species)
f'{genus} {species}'
```

The built-in `str()` function can be used to convert objects of other types, such as numbers, into strings:

In [ ]:
str(123)

'123'

Strings are a data type with **method functions** (also called **member functions**), i.e., built-in functions that are associated with every string object.

> *Aside: In fact, virtually every data type, including those we have already seen (`int`, `float`, `bool`) and others we will see shortly (`list`, `tuple`, `dict`) have associated method functions. We will discuss more of these in the future.*

One example of a string method is `upper()`, which converts all letters in the string to uppercase:

In [69]:
my_string = 'Aplysia californica'
my_string.upper()

'APLYSIA CALIFORNICA'

As you can see above, method functions are accessed in Python using **dot notation**, e.g., `my_string.upper`, where a period (`.`) separates the object name (`my_string`) and the method name (`upper`). In Colab, it is easy to see a listing of the method functions (and other attributes) associated with a variable by typing in the variable name, followed by a period, and then pausing for a brief moment. If you try it for `my_string` (assuming you evaluated the cell above), you will see a pop-up that looks like this:

![Screenshot of list methods pop-up in Colab]()

If the number of available methods is large, you may need to scroll within the pop-up to see them all. Try it!

Take some time to familiarize yourself with some of the string methods. You can use `?` to learn more about them (e.g., `my_string.upper?`). Here are some additional examples (some use lists, which will be introduced soon):

In [70]:
my_string = 'Aplysia californica'

# convert all letters to uppercase
print(my_string.upper())

# return True if the string begins with capital A, otherwise return False
print(my_string.startswith('A'))

# count the number of occurances of lowercase i
print(my_string.count('i'))

# replace each i with an exclamation point
print(my_string.replace('i', '!'))

# split the string everywhere there is a lowercase i to make a list of smaller
# strings, discarding the i's in the process
print(my_string.split('i'))

# join each string in the list with a hyphen
print('-'.join(['pre', 'synaptic']))

# after splitting the string at the i's, join the pieces together again with
# i's, thereby reconstructing the original string
print('i'.join(my_string.split('i')))

APLYSIA CALIFORNICA
True
3
Aplys!a cal!forn!ca
['Aplys', 'a cal', 'forn', 'ca']
pre-synaptic
Aplysia californica

## If/Else Statements

Code can be executed conditionally depending on the results of comparison operations and Boolean truth values using `if`/`else` statements.

The simplest form of an `if` statement does something only if the specified condition is true. In the example below, a `print` command is executed only if `x` is positive (in this case, it is). Notice that a **colon** (`:`) terminates the condition in the line containing `if`, and the command(s) that follow are **indented**. This indentation is required and must be consistent.

In [ ]:
x = 10

if x > 0:
    # this code will run because x > 0 is true
    print('x is positive')

x is positive

If the condition is not true, as below, nothing will happen.

In [ ]:
x = -5

if x > 0:
    # this code will NOT run because x > 0 is false
    print('x is positive')

The conditionally-executed code may contain much more than a single `print` command. Any number of lines of code can be included there, but they must be consistently indented. Four spaces is a common indentation convention.

If you want some other code to run if the condition is false, use `else`. Again, a colon is needed.

In [ ]:
x = -5

if x > 0:
    # this code will NOT run because x > 0 is false
    print('x is positive')
else:
    # this code will run because the tested condition was not true
    print('x is not positive')

x is not positive

If you want alternative conditions to be tested if the first condition is false, use `elif` ("else-if"). Several of these can be chained together, and an `else` may be included at the end.

In [ ]:
x = -5

if x > 0:
    # this code will NOT run because x > 0 is false
    print('x is positive')
elif x < 0:
    # this code will run because x < 0 is true
    print('x is negative')
else:
    # this code will NOT run because one of the tested conditions was true
    print('x is zero')

x is negative

## Lists

One of the most common data types for sequences is the **list**. Lists are comma-separated values enclosed by square brackets (`[]`). Here is a simple example:

In [ ]:
# create a new list using square brackets []
my_list = [0, 10, 20, 30]
my_list

[0, 10, 20, 30]

The type of a list variable is, unsurprisingly, `list`:

In [ ]:
type(my_list)

list

The built-in `range()` function can be used (in conjunction with the `list()` function for the purpose of this example) to create a list of ascending or descending numbers. As will be seen later with indexing and slicing, the numbering here is a bit weird, as it will produce a list that starts from 0 and goes up to, but does not include, your specified number.

In [ ]:
# create the numbers 0 through 19
list(range(20)) # list() is needed for this demo since range() actually returns a special type of object

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

The `range()` function also accepts "start", "stop", and "step" inputs.

In [ ]:
# create the numbers 10 through 100 in steps of 20
list(range(10, 100, 20))

[10, 30, 50, 70, 90]

Like strings, lists have many useful method functions. The `append` method can be used to add a new element to the end of a list. When `append` is used, the list is changed **in-place**, meaning that `my_list` is modified without you needing to write `my_list =`. For example:

In [ ]:
# append an item to a list
my_list.append(40) # note = is NOT needed for my_list to permanently change
my_list

[0, 10, 20, 30, 40]

Lists can also be extended by "adding" lists together using `+`. This operation does *not* cause in-place modification of the `my_list` variable, so `my_list =` is needed.

In [ ]:
# combine lists with +
my_list = my_list + [50, 60] # note = is needed for my_list to permanently change
my_list

[0, 10, 20, 30, 40, 50, 60]

The `extend` method does the same thing, but, like the `append` method, it *does* modify the variable in-place, so `my_list =` is not needed.

In [ ]:
# alternative to +
my_list.extend([70, 80]) # note = is NOT needed for my_list to permanently change
my_list

[0, 10, 20, 30, 40, 50, 60, 70, 80]

To learn more about any of the list methods, you can **view the documentation** using either `?` or the built-in `help()` function, e.g., `my_list.extend?` or `help(my_list.extend)`. For example, try looking at the documentation for `my_list.reverse`. You are encouraged to explore the other list methods too!

## Indexing and Slicing

Items in a list can be accessed by their position in the list using **indexing**, which is done using square brackets (`[]`) after the name of the list, with a position number given inside the brackets. The tricky thing to remember is that, like many other programming languages, **indexing starts from 0** in Python. That is, for our list `my_list`, to extract the first item of the list, you should use `my_list[0]`, not `my_list[1]`. If you are used to working with other languages that begin indexing with 1, such as MATLAB and Mathematica, this may take some getting used to!

In [ ]:
# select the first item by index, which is in position 0
my_list = [0, 10, 20, 30, 40, 50, 60, 70, 80]
my_list[0]

0

To access the second or third item in our list, you would use `my_list[1]` or `my_list[2]`, and so on. **In general, to access the *i*-th item in a list, you should use index *i-1*.**

You can also use negative indices to count backwards from the end of a list. For example, to access the last item in a list, use index `-1`; the second-to-last item could be accessed with index `-2`, and so on.

In [ ]:
# select the last item
my_list = [0, 10, 20, 30, 40, 50, 60, 70, 80]
my_list[-1]

80

Indexing works on strings too:

In [ ]:
# strings can be indexed just like lists
my_string = "The slug's ink ain't pink; it's purple."
print(f'The first character: {my_string[0]}')
print(f'The last character:  {my_string[-1]}')

The first character: T
The last character:  .

The concept of indexing can be extended to **slicing** a list, or extracting multiple items from it. To slice a list, provide two indices separated by a colon (`:`). There is another tricky thing to remember here, on top of indices starting with 0: **The item corresponding to the first index of the slice will be included in the result, but the item corresponding to the last index of the slice will not.** In other words, we can say that the first index is inclusive, and the last index is exclusive.

In [ ]:
# select items in positions 1 (inclusive) through 4 (exclusive)
my_list = [0, 10, 20, 30, 40, 50, 60, 70, 80]
my_list[1:4]

[10, 20, 30]

Slicing works on strings too:

In [ ]:
# strings can be sliced just like lists
my_string = "The slug's ink ain't pink; it's purple."
my_string[4:8]

'slug'

A helpful way to think about slicing is given in the [official Python tutorial](https://docs.python.org/3/tutorial/introduction.html). This example refers to slicing into the string `"Python"`, but it applies to lists as well:

> "One way to remember how slices work is to think of the indices as pointing *between* characters, with the left edge of the first character numbered 0. Then the right edge of the last character of a string of *n* characters has index *n*, for example:
```
 +---+---+---+---+---+---+
 | P | y | t | h | o | n |
 +---+---+---+---+---+---+
 0   1   2   3   4   5   6
-6  -5  -4  -3  -2  -1
```
The first row of numbers gives the position of the indices 06 in the string; the second row gives the corresponding negative indices. The slice from *i* to *j* consists of all characters between the edges labeled *i* and *j*, respectively."

So, with `word = "Python"`, the substring `'Py'` could be extracted using `word[0:2]`:

In [ ]:
word = "Python"
word[0:2]

'Py'

When slicing, if the number before or after the colon is omitted, the slice will begin from the very beginning or go to the very end, respectively.

In [ ]:
# select all items before position 2, excluding position 2
my_list = [0, 10, 20, 30, 40, 50, 60, 70, 80]
my_list[:2]

[0, 10]

In [ ]:
# select all items after position 2, including position 2
my_list = [0, 10, 20, 30, 40, 50, 60, 70, 80]
my_list[2:]

[20, 30, 40, 50, 60, 70, 80]

In [ ]:
# omitting both indices selects the whole list
my_list = [0, 10, 20, 30, 40, 50, 60, 70, 80]
my_list[:]

[0, 10, 20, 30, 40, 50, 60, 70, 80]

You can even mix positive and negative indices when slicing.

In [ ]:
# start from position 4 and go up to (but not including!) the second-to-last item
my_list = [0, 10, 20, 30, 40, 50, 60, 70, 80]
my_list[4:-2]

[40, 50, 60]

When slicing, you can include a third number, separated from the second by a colon, that specifies a "step size", or how far to jump through the list between each selection. The complete slice notation looks like this: `[start:stop:step]`.

In [ ]:
# select items in positions 0 (inclusive) through 6 (exclusive) in steps of 2
my_list = [0, 10, 20, 30, 40, 50, 60, 70, 80]
my_list[0:6:2]

[0, 20, 40]

If the "start" or "stop" index is omitted, or if both are omitted, the behavior is as you would expect.

In [ ]:
# get every other item
my_list = [0, 10, 20, 30, 40, 50, 60, 70, 80]
my_list[::2]

[0, 20, 40, 60, 80]

The step size can even be negative for advancing through the list backwards from the end. A common (and nearly inscrutable) trick for reversing a list is to use the slice notation `[::-1]`, which means "in steps of 1 going backwards, start from the end of the list and go to the beginning".

In [ ]:
# reverse the list (using syntax no one will understand)
my_list = [0, 10, 20, 30, 40, 50, 60, 70, 80]
my_list[::-1]

[80, 70, 60, 50, 40, 30, 20, 10, 0]

This is almost the same as using the `reverse` method function, except that `reverse` permanently changes the list in-place, whereas the slicing approach does not change the list permanently.

In [ ]:
# similar to above, but my_list is permanently reversed
# - if permanent reversal is what you need, reverse() is certainly easier to
#   understand!
# - if you wish to be obtuse for no reason, you could use
#       my_list = my_list[::-1]
#   and provide no comment explaining what it does, but I believe there is a
#   special place in hell for people who do this
my_list.reverse()
my_list

[80, 70, 60, 50, 40, 30, 20, 10, 0]

If permanent reversal is what you need, `my_list.reverse()` is certainly easier to understand! If you wish to be obtuse for no reason, you could use `my_list = my_list[::-1]` and provide no comment explaining what it does, but I believe there is a special place in hell for people who do this.

Lists do not need to be composed of objects of just one type, and lists can be nested inside of other lists.

In [ ]:
# create a new list of objects of different types, including another list
my_list = [0, 10, 20, 30, 40, 50, 60, 70, 80]
another_list = ['a', 4.5, my_list]
another_list

['a', 4.5, [0, 10, 20, 30, 40, 50, 60, 70, 80]]

To index or slice into a nested list, chain together multiple square bracket selections.

In [ ]:
# select the item in position 2 (my_list), then select the item in its position 3
another_list[2][3]

30

Items inside a list (even nested lists) can be changed using indexing. For example, this code changes the last item in the nested list:

In [ ]:
# change an item
another_list[2][-1] = 9999
another_list

['a', 4.5, [0, 10, 20, 30, 40, 50, 60, 70, 9999]]

When a named list (`my_list`) is contained within another list (`another_list`) in this way and an item in the inner list is changed like above, that change affects the original list too because the second list simply contains a reference to the first, rather than a separate copy of the data.

In [ ]:
# the original list (my_list) is changed too because another_list contains a reference to it
my_list

[0, 10, 20, 30, 40, 50, 60, 70, 9999]

## Tuples

**Tuples** are another data type for storing sequences. They are similar to lists in many ways, but tuples are created using parentheses (`()`) rather than brackets.

In [ ]:
# create a new tuple using parentheses
my_tuple = ('a', 'b', 'c')
my_tuple

('a', 'b', 'c')

Indexing and slicing into tuples works just like lists and strings.

In [ ]:
# select items in tuples just like lists
my_tuple[0]

'a'

A critical difference between lists and tuples, and between lists and strings, is that **tuples and strings are immutable**, which means they cannot be changed after creation, in some technical sense of "changed". Here's an example of an illegal operation:

In [ ]:
# tuples are immutable, meaning they are not allowed to be changed after creation
my_tuple[0] = 1 # this causes an error!

TypeError: ignored

The reasons that immutability is a useful quality of tuples, which motivates the necessity for both lists and tuples existing in the language, are a bit technical but will be touched on later when we discuss dictionaries.

## Lists vs. Tuples

In practice, conventions ofter determine whether an experienced Python programmer uses a list or a tuple when either could do the job. These conventions are not enforced by the language, but are common enough to mention here:
* Sequences of **homogeneous data** (data of one type), for which the **positions of the values are not intrinsically meaningful**, are usually stored as **lists**.
    * For example, a collection of height measurements of people could be stored in a list. Although the first measurement in the list obviously belongs to one person and the second belongs to another, this ordering is not essential on a conceptional level. You could swap the order of people without it mattering.
* Sequences of **heterogeneous data** (data of different types), or sequences for which the **positions of the values is intrinsically meaningful**, are usually stored as **tuples**.
    * Examples of the latter would be a pair of strings for first and last name, or an ordered pair of numbers representing a coordinate in space.
    * An example of the former would be a collection of data about a person, such as name (string) and age (integer), which is expected to have a certain ordering, such as name first, age second.

Here is an example where both conventions are in play at the same time:

In [ ]:
species_data = [
    # genus, species, date named, common name
    ('Aplysia',     'californica', 1863, 'California sea hare'),
    ('Macrocystis', 'pyrifera',    1820, 'Giant kelp'),
    ('Pagurus',     'samuelis',    1857, 'Blueband hermit crab'),
]

The object `species_data` is a list. The three items it contains are not in some essential order. The use of a list here, rather than a tuple, signals (by convention) to good programmers that code which uses `species_data` is expected to be able to handle the list changing through the addition or removal of species from the list.

The items inside the list are tuples. Each tuple is composed of exactly four pieces of data, including a mix of strings and integers, and always in the same order: a genus name, a species name, the year the species was given its formal scientific name, and the common name for the species. The use of tuples here, rather than lists, signals (by convention) to good programmers that this order is essential and may be relied upon in some other code, so swapping the names and dates around could cause problems.

A consequence of this convention is that if we try to access `species_data[2][0]` through indexing, we may not always know which species we will find in position 2, but we can be confident that we are accessing its genus name. This is important when looping through lists (more on that later).

At a technical level, the tuples here *could* have been lists. In fact, if the values needed to change, they would have to be lists. Likewise, the list could have been a tuple, so long as the tuple did not need to be modified after creation. Ultimately, it is a long-standing convention to do it the way shown above, and, if adhered to, it signals to people reading or using your code how you intend the data object to be handled.

As a final point, lists can be converted to tuples using the built-in `tuple()` function, and tuples can be converted to lists using the built-in `list()` function:

In [ ]:
# the built-in list() and tuple() functions can be used to convert one type to the other
# - note = is needed for my_tuple or my_list to permanently change
print(list(my_tuple))
print(tuple(my_list))

['a', 'b', 'c']
(0, 10, 20, 30, 40, 50, 60, 70, 9999)

## For Loops and List Comprehensions

A `for` loop can **iterate** over a list or tuple, performing calculations for each item in the sequence. Like `if` statements, `for` loops require a **colon** to terminate the first line and consistent **indentation** (typically four spaces) below it for the block of code that will be executed for each item in the sequence. Each item in the sequence is assigned a temporary variable name that can be used within the block. In the example below, this temporary variable is called `i`:

In [ ]:
my_list = [0, 1, 2, 3, 4, 5]

# print the square of each item in my_list
# - colon and indentation are important!
for i in my_list:
    print(i**2)

0
1
4
9
16
25

Be careful what name you give the iterator variable, since its value will be overwritten again and again with the items in the sequence. If the variable had a value before the `for` loop, it will be lost, which may not be what you intended.

In [ ]:
i = 'abc'
print(f'i at the start = {i}')

for i in my_list:
    print(i**2)

print(f'i at the end = {i}')

i at the start = abc
0
1
4
9
16
25
i at the end = 5

If you wanted to store a result from each step of the `for` loop in another list, one way you could do it is

1. Initialize another variable as an empty list (`another_list = []`), and then
2. Append a result to the new list in each step (`another_list.append`).

For example:

In [ ]:
another_list = []
for i in my_list:
    another_list.append(i**2)

another_list

[0, 1, 4, 9, 16, 25]

If the calculation of the result (in this example, squaring `i`) is fairly simple, you can perform the same work using a more concise notation called **list comprehension**. The simplest version of list comprehension takes the form `[f(i) for i in my_list]`, where `f(i)` is some function or transformation of the list item `i`. Notice list comprehensions are enclosed in square brackets (`[]`) because they create lists. Here is a list comprehension equivalent to the example above:

In [ ]:
# basic list comprehension
# - this means "square the item for each item in my_list"
another_list = [i**2 for i in my_list]
another_list

[0, 1, 4, 9, 16, 25]

All of the work is completed in a single line of code. Elegant!

List comprehensions can be more complex than this. Suppose we modified the `for` loop to append a result only if the list item is an even number (`i % 2 == 0` means that `i` divided by 2 must have a remainder of 0):

In [ ]:
another_list = []
for i in my_list:
    if i % 2 == 0:
        # append only if i is even
        another_list.append(i**2)

# the squares of 0, 2, 4
another_list

[0, 4, 16]

To do this with list comprehension, just add `if i % 2 == 0` to the end:

In [ ]:
# list comprehension with conditional
# - this means "square the item for each item in my_list if it is even (otherwise skip it)"
another_list = [i**2 for i in my_list if i % 2 == 0]
another_list

[0, 4, 16]

Suppose we modify the `for` loop further to perform a different calculation if the list item is an odd number:

In [ ]:
another_list = []
for i in my_list:
    if i % 2 == 0:
        # square if i is even
        another_list.append(i**2)
    else:
        # add 100 if i is odd
        another_list.append(i+100)

another_list

[0, 101, 4, 103, 16, 105]

This can be done with list comprehension by moving the `if i % 2 == 0` to an earlier position, just after `i**2`, and adding `else i+100`:

In [ ]:
# list comprehension with complex conditional
# - this means "square the item if it is even, otherwise add 100 to it, for each item in my_list"
another_list = [i**2 if i%2==0 else i+100 for i in my_list]
another_list

[0, 101, 4, 103, 16, 105]

The results stored in `another_list` could be something other than a calculation using `i`. For example, strings:

In [ ]:
# this means "store the string 'less than 2' if the item is less than 2, otherwise store '2 or greater', for each item in my_list"
another_list = ['less than 2' if i < 2 else '2 or greater' for i in my_list]
another_list

['less than 2',
 'less than 2',
 '2 or greater',
 '2 or greater',
 '2 or greater',
 '2 or greater']

## While Loops

A `while` loop is another way to repeatedly perform calculations. Whereas `for` loops execute code for each item in a sequence, `while` loops execute code for as long as a condition is true. For example:

In [ ]:
x = 0

while x < 5:
    print(x)
    x = x + 1

print(f'final value of x = {x}')

0
1
2
3
4
final value of x = 5

Generally, this means that the code within the `while` loop should take steps toward making the condition no longer true, even if it is unknown ahead of time how many steps that may require. In the simple example above, `x` was incremented each step until `x` was no longer less than 5. A more practical example would be a piece of code that reads a text file of unknown length one line at a time using a `while` loop that continues until a request for the next line yields nothing.

Be warned: **If the condition never ceases to be true, the `while` loop will never stop**, which is probably not what you want!

Try executing the code cell below, which will start an infinite loop because `x` is never incremented. You will see the icon in the left margin of the code cell spin and spin endlessly as the computer keeps executing the code within the `while` loop again and again, never stopping because the condition `x < 5` never stops being true. For this to end, you must **manually interrupt the code execution**, which you can do two ways:

1. Click the spinning stop icon in the left margin, or
2. Use the "Runtime" menu at the top of the page and click "Interrupt execution".

Colab executes cells one at a time, so until you interrupt the execution of this cell, you will not be able to run any other code!

In [ ]:
x = 0
while x < 5:
    pass # do nothing

KeyboardInterrupt: ignored

## Dictionaries

Dictionaries are another important data type in Python. Dictionaries store **key-value pairs**, where each piece of data (the **value**) is assigned a name (the **key**) for easy access.

Dictionaries are created using curly braces (`{}`). (This is different from the use of curly braces in f-strings!) Inside of the curly braces, key-value pairs are separated from one another by commas, and colons separate each key from its value. For example:

In [ ]:
# create a new dictionary using curly braces {}
my_dict = {'genus': 'Aplysia', 'species': 'californica', 'mass': 150}
my_dict

{'genus': 'Aplysia', 'mass': 150, 'species': 'californica'}

The syntax for extracting a piece of data from a dictionary is similar to indexing into lists. It uses square brackets after the dictionary name (not curly braces like you might guess), but instead of a number indicating position, a key should be provided.

In [ ]:
# select items by key
my_dict['species']

'californica'

Like changing the value of an item in a list via its index, the value of an item in a dictionary can be changed via its key:

In [ ]:
# change values by key
my_dict['mass'] = 300
my_dict

{'genus': 'Aplysia', 'mass': 300, 'species': 'californica'}

New key-value pairs can be added to a dictionary the same way. In fact, you can start with an empty dictionary and build it up one key-value pair at a time:

In [ ]:
my_dict2 = {}

my_dict2['genus'] = 'Aplysia'
my_dict2['species'] = 'californica'
my_dict2['mass'] = 300

my_dict2

{'genus': 'Aplysia', 'mass': 300, 'species': 'californica'}

Values can have any data type. Most basic data types are valid for keys too, but an important exception is lists: **lists are not allowed to be dictionary keys**. Tuples, on the other hand, are allowed to be keys. This is because keys must be immutable (uneditable), which is a property that tuples have but lists do not.

In [ ]:
# lists cannot be keys, so this is NOT allowed
# - the error "unhashable type" is a consequence of the fact that lists are not immutable (they can be changed)
my_dict2[['x', 'y', 'z']] = [1, 2, 3]

TypeError: ignored

In [ ]:
# tuples can be keys, so this IS allowed
my_dict2[('x', 'y', 'z')] = [1, 2, 3]

my_dict2

{('x', 'y', 'z'): [1, 2, 3],
 'genus': 'Aplysia',
 'mass': 300,
 'species': 'californica'}

You can delete a key-value pair from a dictionary using the `del` keyword:

In [ ]:
del my_dict2['species']

my_dict2

{('x', 'y', 'z'): [1, 2, 3], 'genus': 'Aplysia', 'mass': 300}

As a matter of fact, **`del` is how you unset any variable**:

In [ ]:
del my_dict2

# now my_dict2 is not defined
my_dict2

NameError: ignored

Just like lists and tuples, `for` loops can iterate over a dictionary. In its simplest form, this actually iterates over the dictionary's keys. In the example below, we choose to use the name `k`, rather than `i`, for the temporary variable to reflect this. To access the value associated with key `k`, we must use `my_dict[k]`.

In [ ]:
# iterate over keys
for k in my_dict:
    print(f'key: {k} --> value: {my_dict[k]}')

key: genus --> value: Aplysia
key: species --> value: californica
key: mass --> value: 300

The dictionary method `items()` returns a (special type of) list of tuples, where each tuple is a key-value pair:

In [ ]:
# using list() here to simplify how the list of tuples is displayed
list(my_dict.items())

[('genus', 'Aplysia'), ('species', 'californica'), ('mass', 300)]

When using a `for` loop to iterate over any list of tuples (or a list of lists, or a tuple of lists, or a tuple of tuples...) such as this, you can assign a temporary variable name to each item in the inner tuple/list. This is an example of what is called **unpacking**. For example:

In [ ]:
list_of_tuples = [
    ('a', 1),
    ('b', 2),
    ('c', 3),
]

for (letter, number) in list_of_tuples:
    print(letter, number)

a 1
b 2
c 3

In the example above, the parentheses around the iterator variables `(letter, number)` are actually optional, so the loop could be written without them:

In [ ]:
for letter, number in list_of_tuples:
    print(letter, number)

a 1
b 2
c 3

Using the list of tuples produced by `my_dict.items()` and unpacking each key-value tuple into `k,v`, we can write the `for` loop this way:

In [ ]:
# iterate over key-value pairs
for k,v in my_dict.items():
    print(f'key: {k} --> value: {v}')

key: genus --> value: Aplysia
key: species --> value: californica
key: mass --> value: 300

Notice this does exactly the same thing as
```python
for k in my_dict:
    print(f'key: {k} --> value: {my_dict[k]}')
```
seen earlier, except the version using `for k,v in my_dict.items()` conveniently assigns the name `v` to the value of each key-value pair, so that `my_dict[k]` does not need to be typed out.

Like list comprehensions, there exists a concise way for constructing dictionaries from a sequence, called **dictionary comprehension**. The syntax is similar, but a key and a value must be computed for each iteration, separated by a colon.

To set up an example, here is a long way of constructing a dictionary of squares using a `for` loop, where the keys are string versions of the numbers:

In [ ]:
my_list = [0, 1, 2, 3, 4, 5]

squares = {}
for i in my_list:
    # store keys as strings and values as integers
    squares[str(i)] = i**2

squares

{'0': 0, '1': 1, '2': 4, '3': 9, '4': 16, '5': 25}

Here is a dictionary comprehension that does the same thing. Note it is enclosed with curly braces because it produces a dictionary, and a colon separates a key and its value.

In [ ]:
# basic dictionary comprehension
# - this means "pair a string version of the item with its square for each item in my_list"
squares = {str(i): i**2 for i in my_list}

squares

{'0': 0, '1': 1, '2': 4, '3': 9, '4': 16, '5': 25}

Like list comprehension, conditionals are allowed for the values:

In [ ]:
# dictionary comprehension with complex conditional
# - this means "pair a string version of the item with its square if it is even, otherwise with the item plus 100, for each item in my_list"
squares = {str(i): i**2 if i%2==0 else i+100 for i in my_list}

squares

{'0': 0, '1': 101, '2': 4, '3': 103, '4': 16, '5': 105}

## A Practical Example for Dictionaries and Comprehensions

So how are dictionaries useful? There are countless ways, but let's look at one example. Previously we saw in the section titled "Lists vs. Tuples" that a list of tuples with consistent structure is useful because pieces of data have predictable indices. For example, with this definition of `species_data`, the genus of every entry always has index 0:

In [ ]:
species_data = [
    # genus, species, date named, common name
    ('Aplysia',     'californica', 1863, 'California sea hare'),
    ('Macrocystis', 'pyrifera',    1820, 'Giant kelp'),
    ('Pagurus',     'samuelis',    1857, 'Blueband hermit crab'),
]

# print every genus
for sp in species_data:
    print(sp[0])

Aplysia
Macrocystis
Pagurus

However, this approach requires that we memorize the meaning of each index (0 = genus, 1 = species, etc.). If we use dictionaries instead of tuples, we can access data by name, rather than arbitrary indices. To do this, we could convert every tuple into a dictionary, so that the whole data set is a list of dictionaries with identical keys.

To demonstrate this, we could write everything out, like this:

In [ ]:
species_dicts = [
    {'genus': 'Aplysia',     'species': 'californica', 'year': 1863, 'common': 'California sea hare'},
    {'genus': 'Macrocystis', 'species': 'pyrifera',    'year': 1820, 'common': 'Giant kelp'},
    {'genus': 'Pagurus',     'species': 'samuelis',    'year': 1857, 'common': 'Blueband hermit crab'},
]

However, if the `species_data` list already existed and was much longer than it is here, this would be a lot of extra work!

Instead, we could use what we have learned to programmatically construct the list of dictionaries from the existing list of tuples using a `for` loop. Here's one way to do that which uses tuple unpacking for naming each of the four pieces of data in every tuple:

In [ ]:
# create a new empty list
species_dicts = []

# for each tuple, unpack the 4 pieces of data into 4 temporary variables
for genus, species, year, common in species_data:

    # build a new dictionary for this species
    d = {'genus': genus, 'species': species, 'year': year, 'common': common}

    # append the dictionary to the new list
    species_dicts.append(d)

# display the new list of dictionaries
species_dicts

[{'common': 'California sea hare',
  'genus': 'Aplysia',
  'species': 'californica',
  'year': 1863},
 {'common': 'Giant kelp',
  'genus': 'Macrocystis',
  'species': 'pyrifera',
  'year': 1820},
 {'common': 'Blueband hermit crab',
  'genus': 'Pagurus',
  'species': 'samuelis',
  'year': 1857}]

Now the genus of every entry can be accessed using the key `'genus'` rather than index 0:

In [ ]:
# print every genus
for sp in species_dicts:
    print(sp['genus'])

Aplysia
Macrocystis
Pagurus

If we want to be *really* clever, we can do the entire conversion in a single step by *constructing a dictionary inside a list comprehension*. For this, we need to first introduce another built-in function.

The `zip()` function takes two or more sequences (e.g., lists or tuples) as inputs and groups the elements from each sequence in order. For example:

In [ ]:
list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]

# using list() here to simplify how the result is displayed
list(zip(list1, list2))

[('a', 1), ('b', 2), ('c', 3)]

How can we use `zip()` to help us convert our list of tuples into a list of dictionaries? First, define a variable containing the dictionary keys:

In [ ]:
keys = ('genus', 'species', 'year', 'common')

With this, it is possible to pair the values from one of the tuples with these keys. For example, if we just look at the first tuple:

In [ ]:
values = species_data[0]
list(zip(keys, values))

[('genus', 'Aplysia'),
 ('species', 'californica'),
 ('year', 1863),
 ('common', 'California sea hare')]

Here we have a list of tuples, where each tuple is a key-value pair. This is just like what the `items()` function returns for a dictionary. From this, we could construct a dictionary from this first tuple using dictionary comprehension:

In [ ]:
{k:v for k,v in zip(keys, values)}

{'common': 'California sea hare',
 'genus': 'Aplysia',
 'species': 'californica',
 'year': 1863}

Equivalently, because there is no extra manipulation of `k` or `v` here, we could use the built-in function `dict()` to convert the list of key-value pairs directly into a dictionary:

In [ ]:
dict(zip(keys, values))

{'common': 'California sea hare',
 'genus': 'Aplysia',
 'species': 'californica',
 'year': 1863}

All we have to do now is generalize this to all tuples in `species_data`. We can use a list comprehension for this, which gives us the final expression that does the entire conversion in one step, from a list of tuples to a list of dictionaries:

In [ ]:
keys = ('genus', 'species', 'year', 'common')
species_dicts = [dict(zip(keys, values)) for values in species_data]
species_dicts

[{'common': 'California sea hare',
  'genus': 'Aplysia',
  'species': 'californica',
  'year': 1863},
 {'common': 'Giant kelp',
  'genus': 'Macrocystis',
  'species': 'pyrifera',
  'year': 1820},
 {'common': 'Blueband hermit crab',
  'genus': 'Pagurus',
  'species': 'samuelis',
  'year': 1857}]

This is much more elegant than writing out the list of dictionaries by hand!

As a final proof of success, we can once again access the genus of every entry using a key:

In [ ]:
# print every genus
for sp in species_dicts:
    print(sp['genus'])

Aplysia
Macrocystis
Pagurus

For me, the amount of work we get out of this single expression, `[dict(zip(keys, values)) for values in species_data]`, is delightful!

## Functions

**Functions** take inputs, called **arguments** or **parameters**, and do work with them. Often, functions will **return** a result.

Before use, functions must be **defined** using the `def` keyword. Inside the definition, results can be **returned** using the `return` keyword. Function arguments are specified in the definition inside parentheses after the function name.

A function is used, or **called**, by invoking its name with the arguments.

In [ ]:
def compute_square(x):
    return x**2

compute_square(4)

16

Variables assignment within a function has limited **scope**. This means that if a new variable is assigned within a function, it will exist within the function (local scope) but not outside it (global scope).

In [ ]:
def add_4(x):
    # this new variable has local scope and will not be accessible outside the function
    some_local_variable = x + 4
    
    # use an f-string to display the result
    print(f'{x} + 4 = {some_local_variable}')

add_4(1)

# this will fail because some_local_variable is out of scope
print(some_local_variable)

1 + 4 = 5

NameError: ignored

This also means that if a variable that already exists (a global variable) is given a value inside the function, the global variable will not be affected.

In [ ]:
x = 'original value'

print(f'x in global scope: {x}')

def print_something(text):
    # assigning x inside the function does not affect x outside
    x = text
    print(f'x in local scope: {x}')

print_something('new value')

print(f'x in global scope: {x}')

x in global scope: original value
x in local scope: new value
x in global scope: original value

Functions can be defined with multiple arguments.

In [ ]:
def quadratic(x, a, b, c):
    return a * x**2 + b * x + c

quadratic(3, 1, 0, 5)  # 1 * 3**2 + 5 = 14

14

When calling a function with multiple arguments, the order of the inputs must match the definition unless the arguments are explicitly named. This can be done using `=`. This use of `=` does not actually assign the value to the argument in the global scope.

In [ ]:
# arguments may be given out of order if they are explicitly named with =
quadratic(b=0, c=5, a=1, x=3)

# after calling the function with explicit arguments, the variables x, a, b, c
# have NOT been defined or changed in the global scope

14

Because `=` has this special non-assignment meaning in function calls, you will sometimes see seemingly odd notation where variables appear to be assigned to themselves. For example, if the parameters for `quadratic` are already defined in the global scope as variables with the same names, the function could be called like this:

In [ ]:
x = 3
a = 1
b = 0
c = 5

quadratic(b=b, c=c, a=a, x=x)

14

When you see a function call like this, remember that the names to the left of the `=` symbols are the argument names, which will exist in the local scope of the function, and the names to the right of the `=` symbols refer to variables defined in the global scope.

By default, all arguments must be provided when using the function.

In [ ]:
quadratic(3)

TypeError: ignored

Functions can be defined with default parameter values using `=` so that they are not required when calling the function. Again, this does not actually assign these values to variables in the global scope.

In [ ]:
# provide default values for parameters
def quadratic(x, a=1, b=0, c=0):
    return a * x**2 + b * x + c

quadratic(3)

9

When variables containing lists, dictionaries, or other complex objects (e.g., custom classes) are passed as arguments to a function, they are **passed by reference**, which means that the function can change those variables in the global scope. For example, if a list is passed to a function as input, the function could change items in the list:

In [ ]:
def change_list(some_list):
    # change the first item in the list to 4
    some_list[0] = 4

my_list = [1, 1, 1, 1]

# this function call will change my_list permanently in the global scope
change_list(my_list)

# the first item has changed
my_list

[4, 1, 1, 1]

The built-in function `map` can be used to apply a function to every value in a sequence:

In [ ]:
list(map(compute_square, range(5)))  # list() is used so the output displays nicely

[0, 1, 4, 9, 16]

This example is identical to the following list comprehension:

In [ ]:
[compute_square(i) for i in range(5)]

[0, 1, 4, 9, 16]

`map` can be used with multiple sequences. The first items from all sequences will be passed together as arguments to the function, then the second items, and so on.

In [ ]:
def multiply(x, y):
    return x * y

list1 = [1, 2, 3, 4]
list2 = [1, 10, 100, 1000]

list(map(multiply, list1, list2))  # list() is used so the output displays nicely

[1, 20, 300, 4000]

This behavior can also be replicated with a list comprehension and `zip()`:

In [ ]:
[multiply(x, y) for x, y in zip(list1, list2)]

[1, 20, 300, 4000]

The built-in function `filter` is used to remove all items from a sequence that do not satisfy the criterion of returning `True` when passed into a function:

In [ ]:
def greater_than_2(x):
    return x > 2

# keep only items that satisfy the condition
list(filter(greater_than_2, range(5)))  # list() is used so the output displays nicely

[3, 4]

This behavior can also be replicated by a list comprehension:

In [ ]:
[x for x in range(5) if greater_than_2(x)]

[3, 4]

`filter` does not change the variable:

In [ ]:
my_list = [0, 1, 2, 3, 4]

# return a filtered version of the list but do not actually change my_list
print(list(filter(greater_than_2, my_list)))  # list() is used so the output displays nicely

# the list was not permanently changed
print(my_list)

[3, 4]
[0, 1, 2, 3, 4]

Temporary **anonymous functions**, also called **lambda functions**, can be defined using the `lambda` keyword. They are useful in contexts were a function is needed just once to do something simple.

This example is equivalent to the previous one but does not require the function `greater_than_2` to be defined:

In [ ]:
list(filter(lambda x: x > 2, range(5)))

[3, 4]

A function can be defined with a **docstring**, or documentation string, which can provide helpful information when `help()` or `?` is used. Docstrings can span multiple lines and are sometimes very detailed (e.g., describing every function argument).

In [ ]:
def compute_square(x):
    '''Calculate the square of the input
    
    x: the number to be squared'''
    
    return x**2

help(compute_square)

Help on function compute_square in module __main__:

compute_square(x)
    Calculate the square of the input

    x: the number to be squared

Multiple values can be returned at once. If they are separated by commas without enclosing brackets, the returned object is a tuple.

In [ ]:
def powers(x):
    return x**1, x**2, x**3

x = 4
result = powers(x)

print(f'Result of powers({x}) is a tuple: {result}')

Result of powers(4) is a tuple: (4, 16, 64)

When a function returns a tuple or list, the result can be **unpacked** into multiple named variables for convenience.

In [ ]:
x = 4
first, second, third = powers(x)

print(f'Result of powers({x}) was unpacked into 3 variables...')
print(f'first:  {first}')
print(f'second: {second}')
print(f'third:  {third}')

Result of powers(4) was unpacked into 3 variables...
first:  4
second: 16
third:  64

To partially unpack the returned values and discard the rest, use `_` as a placeholder for the results you do not care about.

In [ ]:
x = 4
first, _, _ = powers(x)

print(f'The first result of powers({x}) was unpacked but the others were discarded...')
print(f'first:  {first}')

The first result of powers(4) was unpacked but the others were discarded...
first:  4

STOPPED HERE AT END OF AUGUST 23 SESSION

---

If an asterisk (`*`) precedes an argument name in the function definition, that argument name stands for a sequence of inputs.

In [ ]:
def my_func(*args):
    # everything passed to my_func is stored in args
    return args

# the retuned object is a tuple containing all of the inputs
my_func(123, 'abc', True)

(123, 'abc', True)

This is useful when the number of inputs is allowed to vary. For example, this function can take any number of numeric inputs, sums them, and returns a list of the cumulative sums:

In [ ]:
def cumulative_sum(*nums):
    result = [0]
    for x in nums:
        result.append(result[-1] + x)
    return result[1:]

print(f'Result for input 10:       {cumulative_sum(10)}')
print(f'Result for inputs 1, 2, 3: {cumulative_sum(1, 2, 3)}')

Result for input 10:       [10]
Result for inputs 1, 2, 3: [1, 3, 6]

Notice that this is different from passing a list as the first argument.

In [ ]:
# this does not work because nums should be naked numeric values, not a list
cumulative_sum([1, 2, 3])

TypeError: ignored

If a double asterisk (`**`) is used in the function definition before an argument name, that argument represents all **keyword arguments**, which are arguments that must be specified by name when the function is called.

In [ ]:
def my_func(*args, **kwargs):
    return args, kwargs

my_func(123, 'abc', True, one=1, two=2)

((123, 'abc', True), {'one': 1, 'two': 2})

## Classes

Let's create a custom **subclass** of the list data type. This class will be designed on the assumption that all values within the list are numbers (which is not true of all lists in general). For now, we won't worry about checking that this assumption is correct.

Since we are creating a new list-like class for numbers, let's call it `NumericalList`. In this first version, we'll just use the `pass` keyword to skip adding anything new.

In [ ]:
class NumericalList(list):
    pass # do nothing new

In [ ]:
my_nlist = NumericalList([1, 6, 1, 12])
print(my_nlist)
print(type(my_nlist))

[1, 6, 1, 12]
<class '__main__.NumericalList'>

Here we would say that `list` is the **parent class** of `NumericalList`. Our new class **inherits** the features of its parent and can be customized with new features (or the existing ones can be changed).

For example, the number of items in a list (its length) can be counted using the built-in `len()` function. The countability of lists is a feature that `NumericalList` inherits:

In [ ]:
len(my_nlist)

4

Similarly, `NumericalList` inherits the `list` methods, like `append()`.

In [ ]:
my_nlist.append(99)
my_nlist

[1, 6, 1, 12, 99]

So far, `NumericalList` has no useful features beyond those of its parent. Let's add one! Below we redefine the class with a new `mean()` method, which is something ordinary lists lack. Note `pass` is not needed anymore; it was needed earlier only because *something* must come after the initial semicolon.

In [ ]:
class NumericalList(list):
    def mean(self):
        return sum(self)/len(self)

In [ ]:
my_nlist = NumericalList([1, 6, 1, 12])
my_nlist.mean()

5.0

Note that all method functions need to take at least one argument, which is conventionally named `self`. This serves as a name for the `NumericalList` itself within the function.

For the sake of demonstration, let's add another method called `size()`, which just returns the length:

In [ ]:
class NumericalList(list):
    def mean(self):
        return sum(self)/len(self)
    
    def size(self):
        return len(self)

In [ ]:
my_nlist = NumericalList([1, 6, 1, 12])
my_nlist.size()

4

We can use a special **decorator**, `@property`, to mark the `size()` function as a **property**. This will allow (require, actually) `size` to be used without the parentheses.

In [1]:
class NumericalList(list):
    def mean(self):
        return sum(self)/len(self)
    
    @property
    def size(self):
        return len(self)

In [ ]:
my_nlist = NumericalList([1, 6, 1, 12])
my_nlist.size

4

---

In [59]:
class NumericalList(list):
    def mean(self):
        return sum(self)/len(self)
    
    @property
    def size(self):
        return len(self)
    
    def __add__(self, other):
        return [x+y for x, y in zip(self, other)]
    def __sub__(self, other):
        return [x-y for x, y in zip(self, other)]
    def __mul__(self, factor):
        return [x*factor for x in self]
    def __truediv__(self, factor):
        return [x/factor for x in self]
    def __neg__(self):
        return [-x for x in self]

list1 = NumericalList([1, 6, 1, 12])
list2 = NumericalList([4, 3, 7, 9])

# list1+list2
list1-list2
# list1*5
# list1/5
# -list1

[-3, 3, -6, 3]

---

Let's create another custom class. This one will be designed for representing a sequence of voltage samples, like those obtained in electrophysiology experiments. The `mean()` function and `size` property of our `NumericalList` class will be useful, so let's build another subclass, but this time instead of subclassing `list`, we'll subclass `NumericalList`. Let's call this new class `VoltageSignal`, and we'll begin with nothing added (just using `pass` again):

In [ ]:
class VoltageSignal(NumericalList):
    pass # do nothing new

In [ ]:
my_sig = VoltageSignal([1, 6, 1, 12])
print(my_sig)
print(type(my_sig))

[1, 6, 1, 12]
<class '__main__.VoltageSignal'>

Voltages could be represented with different units, like millivolts or microvolts, so it would be useful for our class to store the units when it is created, allowing that information to be accessed later. We should require that information at the time the `VoltageSignal` is created.

**TODO: Explain double underscore methods and initialization...**

In [ ]:
class VoltageSignal(NumericalList):
    def __init__(self, data):
        super().__init__(data)

In [ ]:
my_sig = VoltageSignal([1, 6, 1, 12])
print(my_sig)
print(type(my_sig))

[1, 6, 1, 12]
<class '__main__.VoltageSignal'>

So far we haven't done anything new. We've merely set the table for introducing new things. Let's now require that a second argument is provided after the numerical data, and let's store it as the `units` attribute.

In [ ]:
class VoltageSignal(NumericalList):
    def __init__(self, data, units):
        super().__init__(data)
        self.units = units

In [ ]:
my_sig = VoltageSignal([1, 6, 1, 12], 'mV')
print(my_sig)
print(my_sig.units)

[1, 6, 1, 12]
mV

Let's do something useful with the units by adding a method that can convert between millivolts and microvolts, or vice versa. We'll have it change the values in place.

In [ ]:
class VoltageSignal(NumericalList):
    def __init__(self, data, units):
        super().__init__(data)
        self.units = units
    
    def convert(self, new_units):
        if self.units == 'mV' and new_units == 'uV':
            factor = 1000
        elif self.units == 'uV' and new_units == 'mV':
            factor = 1/1000
        else:
            print('bad units!')
            return
        new_data = [x*factor for x in self]
        return VoltageSignal(new_data, new_units)

In [ ]:
my_sig = VoltageSignal([1, 6, 1, 12], 'mV')
my_sig_converted = my_sig.convert('uV')
print(my_sig_converted)
print(my_sig_converted.units)

[1000, 6000, 1000, 12000]
uV

In [ ]:
my_sig = VoltageSignal([1, 6, 1, 12], 'uV')
my_sig_converted = my_sig.convert('mV')
print(my_sig_converted)
print(my_sig_converted.units)

[0.001, 0.006, 0.001, 0.012]
mV

We still have access to the methods inherited from `NumericalList`.

In [ ]:
print(f'The mean voltage is {my_sig.mean()} {my_sig.units}. This is equivalent to {my_sig_converted.mean()} {my_sig_converted.units}.')

The mean voltage is 5.0 uV. This is equivalent to 0.005 mV.

---

## IPython "Magics" and Extra Features

We have already seen that `%whos` can be used to list symbols and their values, and `?` can be used to display documentation. Neither of these are technically part of the Python language but are instead extra features added by IPython ("Interactive Python"), which is a system that Jupyter notebooks are built on top of. These extra features are sometimes refered to as "IPython magics".

In [ ]:
# use _ to access the most recent result
x = 4
x

4

In [ ]:
_ + 1

5

In [ ]:
# use ! to drop out of Python and into a system shell (command line)
! ls /

bin					   etc	  opt	 sys
boot					   home   proc	 tensorflow-1.15.2
content					   lib	  root	 tmp
datalab					   lib32  run	 tools
dev					   lib64  sbin	 usr
dlib-19.18.0-cp27-cp27mu-linux_x86_64.whl  media  srv	 var
dlib-19.18.0-cp36-cp36m-linux_x86_64.whl   mnt	  swift

---

## Topics for First Lession(s)

* Variables in general
    * Not declared, not explicitly typed
    * Ints and decimals interchangeable
    * x += 1
    * strings, concatenation with + or join()
        * ' '.join() uses attribute notation with a period
    * print(), f-strings
* Lists
    * Can hold inhomogeneous objects, not explicitly typed
    * list() and []
    * One-dimensional
    * Access by index
        * Works for strings too
    * Slicing
    * list(range()), really a generator
    * List comprehension
* Dictionaries
    * Again not typed
    * Access by key
    * dict() and {}
    * Dictionary comprehension
* Tuples
    * Immutable, usable as dict keys
    * tuple()

* "Pythonic"
    * The Zen of Python
    * Example: traditional for-loop vs comprehension
        * for, in keywords
            * get fancy with zip()

* Whitespace, trailing commas, comments

* Built-in functions and keywords
    * and, or, not, is, ==, True, False, None
    * round(), int(), float(), abs(), len()
    * input()
    * with open() as f
    * help() and the official documentation (always check version)

* IPython magic / extra features
    * %whos
    * _ for last output
    * ? for help
    * ! for shell

* Creating functions, classes
    * Variable scope
    * Object oriented programming with classes
        * Object attributes

* Modules, imports, packages
    * import this (Zen of Python)
    * import antigravity (xkcd)
    * Namespaces
        * from foo import *
    * Standard libraries
        * math, random, os, sys, io

* Creating a program

* Debugging errors, exceptions, try/except

* Python 2 vs 3

## Advanced Lessions

* Numpy
* pandas
    * reading and writing data
* matplotlib
    * exporting plots
* Neo, quantities
* neurotic
* Version control, Git, GitHub
* Command line, IDE, Spyder, notebooks

---

## External Resources

The official language documentation:

* [Python 3 documentation](https://docs.python.org/3/index.html)
* [Built-in functions](https://docs.python.org/3/library/functions.html)
* [Standard libraries](https://docs.python.org/3/library/index.html)
* [Glossary of terms](https://docs.python.org/3/glossary.html)
* [In-depth tutorial](https://docs.python.org/3/tutorial/index.html)

Extended language documentation:
* [IPython (Jupyter) vs. Python differences](https://ipython.readthedocs.io/en/stable/interactive/python-ipython-diff.html)
* [IPython (Jupyter) "magic" (`%`) commands](https://ipython.readthedocs.io/en/stable/interactive/magics.html)

Free interactive books created by Jake VanderPlas:

* [A Whirlwind Tour of Python](https://colab.research.google.com/github/jakevdp/WhirlwindTourOfPython/blob/master/Index.ipynb) [[PDF version]](https://www.oreilly.com/programming/free/files/a-whirlwind-tour-of-python.pdf)
* [Python Data Science Handbook](https://colab.research.google.com/github/jakevdp/PythonDataScienceHandbook/blob/master/notebooks/Index.ipynb)

# Continue to the Next Lesson

Return to home to continue to the next lession:

https://jpgill86.github.io/python-for-neuroscientists/

# License

[This work](https://github.com/jpgill86/python-for-neuroscientists) is licensed under a [Creative Commons Attribution 4.0 International
License](http://creativecommons.org/licenses/by/4.0/).