<a href="https://colab.research.google.com/github/jpgill86/python-for-neuroscientists/blob/master/notebooks/02-The-Core-Language-of-Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# The Core Language of Python

## Preface

This notebook will be primarily focused on "vanilla" Python. That is, the core language will be showcased, but third-party libraries (like NumPy, Pandas, Matplotlib) will be discussed elsewhere. This notebook is all about what the basic language can do.

That said, there are a some extra features available in Jupyter notebooks that are not part of the core language but will be useful here.

## Comments

In Python, the `#` character indicates the start of a **comment**. Everything on a line of code that comes after a `#` character is ignored by the computer.

(Aside: Colab allows you to attach notes to cells, which are confusingly also called "comments". These are not the same thing as code comments.)

Code comments have two purposes:

* Comments allow you to include explanations of how the code works. This is an essential habit every programmer should develop: **write helpful comments in your code**. This helps others understand how your code works. This (especially) includes *future-you*!
* You can **reversibly disable** a line of code by putting a `#` character at the start. When developing code, this is very useful.

Here's a trivial example of an explanatory comment:

In [ ]:
# calculate one plus one
1 + 1

2

Notice the comment is easily distinguishable by its color.

Colab provides a very useful keyboard shortcut for adding and removing the `#` symbol from the current line of code, or many lines at once if you select them first: Ctrl+/ (Cmd+/ on Mac).

Try placing your cursor in the code cell below and toggling the comment state of the line using the keyboard shortcut:

In [ ]:
# 1 + 1

## Variables and Operators

Data can be stored in variables using `=`. Try executing the two code cells below in order to first store the value `2` in the variable `x` and then to display the contents of `x`.

In [1]:
# store 2 in x
x = 1 + 1

In [2]:
# output the value of x
x

2

You can check a variable's type using the built-in `type()` function:

In [3]:
type(x)

int

`int` stands for "integer".

Unlike some stricter languages, Python allows you to change the type of a variable effortlessly by assigning it a new value.

In [4]:
x = 1.5

In [5]:
type(x)

float

`float` stands for "floating point number", which is a format that computers use to represent decimal numbers. `int` and `float` are both numeric types.

Truth values are represented in Python using `True` and `False`, which have type `bool` (for "Boolean"). `True` and `False` must always start with capital letters. These values can be assigned to variables directly, or they can result from comparisons and tests.

For example, the `==` comparison operator (double-equals; this is different from the single-equals `=` used for variable assignment!) can be used to test whether two values match. It will evaluate to either `True` or `False`.

Try running the cell below twice, first with `x = 2` and a second time with `x = 1.5`. Use the keyboard shortcut for toggling comments (Ctrl+/ or Cmd+/) to switch which variable assignment is used when the cell runs.

In [6]:
x = 2
# x = 1.5
type(x) == int

True

Python can, of course, perform the other basic mathematical operations, not just addition:

In [ ]:
5 + 2   # addition        = 7
5 - 2   # subtraction     = 3
5 * 2   # multiplication  = 10
5 / 2   # division        = 2.5
5 ** 2  # exponentiation  = 25
        # (do NOT use ^ for exponentiation, it does something very different!)

5 // 2  # integer division (drop remainder)  = 2
5 % 2   # modulus (remainder)                = 1

Python has many more comparison operators:

In [ ]:
x = 2      # assign 2 to x
t = True   # assign True to t
f = False  # assign False to f

x == 2     # equal                  = True
x != 2     # not equal              = False
x > 2      # greater than           = False
x < 2      # less than              = False
x >= 2     # greater than or equal  = True
x <= 2     # less than or equal     = True

t and f    # both true              = False
t or f     # either true            = True
not t      # negation               = False
not f      #                        = True

## Printing

To display the value of a variable or the result of a calculation, you can simply write the variable name or perform the calculation as the last thing in a code cell. For example:

In [ ]:
x = 1 + 1
x

2

If you try to do this with multiple variables or calculations, only the last will be displayed automatically:

In [ ]:
x = 1 + 1
y = x + 1

x
y

3

To display multiple things as a result of running one code cell, you can use the `print()` function:

In [ ]:
print(x)
print(y)

z = y + 1

print(z)
print(z + 1)

2
3
4
5

## Strings

Variables containing text are called strings and have type `str`. Strings can be enclosed by either double quotes (`""`) or single quotes (`''`). Which you use often comes down to personal preference.

In [ ]:
genus = "Aplysia"
species = 'californica'

type(genus)

str

Multi-line strings can be constructed using three quote marks (either `"""` or `'''`). Inside of a **triple quoted string**, including a backslash (`\`) at the end of a line will cause the line break immediately following it to be ignored.

In the example below, a backslash is included at the end of the first line so that the string will not begin with an empty line. Also, the string is printed using `print()`, instead of just displayed by naming the variable, so that the line breaks will display properly.

In [ ]:
long_string = """\
Strange women lying in ponds
distributing swords is no basis
for a system of government!
Supreme executive power derives
from a mandate from the masses,
not from some farcical aquatic
ceremony!"""

print(long_string)

Strange women lying in ponds
distributing swords is no basis
for a system of government!
Supreme executive power derives
from a mandate from the masses,
not from some farcical aquatic
ceremony!

(Aside: The Python language is named after the British comedy troupe *Monty Python*, and the text above is a quote from their 1975 film *Monty Python and the Holy Grail*. You will not learn much about programming by watching it, but I still highly recommend it.)

Including a literal apostrophe (`'`) or quotation mark (`"`) inside your string can cause a problem if Python misinterprets the character as terminating your string. You can avoid this problem by either using the other type of quote to enclose your string, or by using a backslash to "escape" the literal punctuation mark, which tells Python to not interpret the character as terminating the string. That is, Python will interpret `\'` and `\"` as just punctuation in a string, rather than the end of the string.

In [ ]:
# option 1: enclose the string in double quotes
# so that the apostrophe is not misinterpreted
string1 = "The slug's ink ain't pink."

# option 2: use a backslash to escape the apostrophe
string2 = 'The slug\'s ink ain\'t pink.'

print(string1)
print(string2)

The slug's ink ain't pink.
The slug's ink ain't pink.

The value of a string variable can be tested with `==`. Notice that, in the following example, switching from double quotes (above, when `genus` was assigned its value) to single quotes (below) does not matter.

In [ ]:
genus == 'Aplysia'

True

Strings can also be **concatenated**, or put together, using `+`. Here, a string containing just a space is sandwiched between two string variables:

In [ ]:
genus + ' ' + species

'Aplysia californica'

For more complex string manipulation, a special type of string called an **f-string** may be useful. F-strings are distinguished by the character `f` immediately preceding the enclosing quotes (either `f'...'` or `f"..."`). The `f` stands for "format", and f-strings allow you both to combine variables into a single string and to control the way numbers are displayed.

In an f-string, curly braces (`{}`) may enclose the names of variables or more complex expressions, and those expressions will be evaluated to create the string. For example, the previous example combined a genus and species name with `+` symbols, but this can also be done with f-strings:

In [ ]:
f'{genus} {species}'

'Aplysia californica'

F-strings allow calculations to be performed inside of the curly braces:

In [ ]:
x = 2
y = 8

f'{x} raised to the {y}th power is {x**y}'

'2 raised to the 8th power is 256'

F-strings also allow numbers to be formatted just the way you want. For example, you can control how many digits after the decimal point are displayed using `{my_number:.xf}`, where `x` is the number of digits:

In [ ]:
pi = 3.14159265358979323846

f'The ratio of a circle\'s circumferance to its diameter is {pi:.5f}'

"The ratio of a circle's circumferance to its diameter is 3.14159"

Prior to the addition of f-strings to Python in 2016, strings could be (and still can be) formatted using different syntax. All of these are equivalent, but f-strings tend to be most readable because of their simplicity, while also being incredibly flexible:

In [ ]:
string1 = genus + ' ' + species

string2 = '%s %s' % (genus, species)

string3 = '{} {}'.format(genus, species)

string4 = '{g} {s}'.format(g=genus, s=species)

string5 = f'{genus} {species}'

print(string1)
print(string2)
print(string3)
print(string4)
print(string5)

Aplysia californica
Aplysia californica
Aplysia californica
Aplysia californica
Aplysia californica

The built-in `str()` function can be used to convert objects of other types, such as numbers, into strings:

In [ ]:
str(123)

'123'

## If-Else Statements

In [ ]:
x = 10

# colon and indentation are important
if x > 0:
    print('x is positive')

x is positive

In [ ]:
x = -5

# this will do nothing
if x > 0:
    print('x is positive')

In [ ]:
x = 10

if x > 0:
    print('x is positive')
elif x < 0:
    print('x is negative')
else:
    print('x is zero')

x is positive

## Lists, Tuples, and Slicing

In [64]:
# create a new list using square brackets []
x = [0, 10, 20, 30]
x

[0, 10, 20, 30]

In [65]:
# append an item to a list
x.append(40) # note = is NOT needed for x to permanently change
x

[0, 10, 20, 30, 40]

In [66]:
# combine lists with +
x = x + [50, 60] # note = is needed for x to permanently change
x

[0, 10, 20, 30, 40, 50, 60]

In [67]:
# select the first item by index, which is in position 0
x[0]

0

In [68]:
# select the last item
x[-1]

60

In [69]:
# select items in positions 1 (inclusive) through 4 (exclusive)
x[1:4]

[10, 20, 30]

In [70]:
# select all items including and after position 2
x[2:]

[20, 30, 40, 50, 60]

In [71]:
# select items in positions 0 (inclusive) through 6 (exclusive) in steps of 2
x[0:6:2]

[0, 20, 40]

In [72]:
# create a new list of objects of different types, including another list
y = ['a', 4.5, x]
y

['a', 4.5, [0, 10, 20, 30, 40, 50, 60]]

In [73]:
# select the item in position 2 (the original list), then select the item in its position 3
y[2][3]

30

In [74]:
# change an item
y[2][-1] = 9999
y

['a', 4.5, [0, 10, 20, 30, 40, 50, 9999]]

In [75]:
# the original list (x) is changed too because y contains a reference to it
x

[0, 10, 20, 30, 40, 50, 9999]

In [76]:
# create a new tuple using parentheses
z = ('a', 'b', 'c')
z

('a', 'b', 'c')

In [77]:
# select items in tuples just like lists
z[0]

'a'

In [78]:
# tuples are immutable, meaning they are not allowed to be changed after creation
z[0] = 1 # this causes an error!

TypeError: ignored

In [79]:
# the built-in list() and tuple() functions can be used to convert one type to the other
# - note = is needed for z or x to permanently change
print(list(z))
print(tuple(x))

['a', 'b', 'c']
(0, 10, 20, 30, 40, 50, 9999)

In [80]:
# the built-in range() function can be used to create a list of ascending or descending numbers
my_list = list(range(20)) # list() is needed since range() actually creates a generator (a slightly more advanced topic for another time)
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [81]:
# range() accepts start, stop, and step arguments
my_list = list(range(10, 100, 20))
my_list

[10, 30, 50, 70, 90]

In [82]:
# strings can be indexed just like lists
my_string = "The slug's ink ain't pink."
my_string[4:8]

'slug'

## For Loops and List Comprehensions

In [ ]:
my_list = list(range(6))

# colon and indentation are important
for i in my_list:
    print(i)

0
1
2
3
4
5

In [ ]:
for i in my_list:
    print(i**2)

0
1
4
9
16
25

In [ ]:
another_list = []
for i in my_list:
    another_list.append(i**2)

another_list

[0, 1, 4, 9, 16, 25]

In [ ]:
# basic list comprehension
another_list = [i**2 for i in my_list]
another_list

[0, 1, 4, 9, 16, 25]

In [ ]:
# list comprehension with conditional
another_list = [i**2 for i in my_list if i % 2 == 0]
another_list

[0, 4, 16]

In [ ]:
# list comprehension with complex conditional
another_list = [i**2 if i%2==0 else i+100 for i in my_list]
another_list

[0, 101, 4, 103, 16, 105]

## While Loops

In [ ]:
x = 0

while x < 5:
    print(x)
    x = x + 1

0
1
2
3
4

## Dictionaries

In [ ]:
# create a new dictionary using curly braces {}
x = {'genus': 'Aplysia', 'species': 'californica', 'mass': 150}
x

{'genus': 'Aplysia', 'mass': 150, 'species': 'californica'}

In [ ]:
# select items by key
x['species']

'californica'

In [ ]:
# change values by key
x['mass'] = 300
x

{'genus': 'Aplysia', 'mass': 300, 'species': 'californica'}

In [ ]:
# iterate over key-value pairs
for k,v in x.items():
    print(f'key: {k} --> value: {v}')

key: genus --> value: Aplysia
key: species --> value: californica
key: mass --> value: 300

In [ ]:
# dictionary comprehension
# - use curly braces, and use colon to separate key and value
my_list = [1, 2, 3, 4, 5]
squares = {i: i**2 for i in my_list}

print(squares)
print(squares[4])

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
16

## Functions

In [ ]:
# note that variables used in function, including the arguments, have local scope

def compute_square(x):
    return x**2

compute_square(4)

16

## IPython "Magic" and Extra Features

In [ ]:
# use %whos to list all defined symbols and their values
%whos

Variable         Type        Data/Info
--------------------------------------
another_list     list        n=6
compute_square   function    <function compute_square at 0x7f07093add08>
i                int         5
k                str         mass
my_list          list        n=5
my_string        str         The slug's ink ain't pink.
squares          dict        n=5
string1          str         The slug's ink ain't pink.
string2          str         The slug's ink ain't pink.
v                int         300
x                dict        n=3
y                list        n=3
z                tuple       n=3

In [ ]:
# use ? or help() to learn more about something
x = 4
x?

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
# use _ to access the most recent result
x = 4
x

4

In [ ]:
_ + 1

5

In [ ]:
# use ! to drop out of Python and into a system shell (command line)
! ls /

bin					   etc	  opt	 sys
boot					   home   proc	 tensorflow-1.15.2
content					   lib	  root	 tmp
datalab					   lib32  run	 tools
dev					   lib64  sbin	 usr
dlib-19.18.0-cp27-cp27mu-linux_x86_64.whl  media  srv	 var
dlib-19.18.0-cp36-cp36m-linux_x86_64.whl   mnt	  swift

## Topics for First Lession(s)

* Variables in general
    * Not declared, not explicitly typed
    * Ints and decimals interchangeable
    * x += 1
    * strings, concatenation with + or join()
        * ' '.join() uses attribute notation with a period
    * print(), f-strings
* Lists
    * Can hold inhomogeneous objects, not explicitly typed
    * list() and []
    * One-dimensional
    * Access by index
        * Works for strings too
    * Slicing
    * list(range()), really a generator
    * List comprehension
* Dictionaries
    * Again not typed
    * Access by key
    * dict() and {}
    * Dictionary comprehension
* Tuples
    * Immutable, usable as dict keys
    * tuple()

* "Pythonic"
    * The Zen of Python
    * Example: traditional for-loop vs comprehension
        * for, in keywords
            * get fancy with zip()

* Whitespace, trailing commas, comments

* Built-in functions and keywords
    * and, or, not, is, ==, True, False, None
    * round(), int(), float(), abs(), len()
    * input()
    * with open() as f
    * help() and the official documentation (always check version)

* IPython magic / extra features
    * %whos
    * _ for last output
    * ? for help
    * ! for shell

* Creating functions, classes
    * Variable scope
    * Object oriented programming with classes
        * Object attributes

* Modules, imports, packages
    * import this (Zen of Python)
    * import antigravity (xkcd)
    * Namespaces
        * from foo import *
    * Standard libraries
        * math, random, os, sys, io

* Creating a program

* Debugging errors, exceptions, try/except

* Python 2 vs 3

## Advanced Lessions

* Numpy
* pandas
    * reading and writing data
* matplotlib
    * exporting plots
* Neo, quantities
* neurotic
* Version control, Git, GitHub
* Command line, IDE, Spyder, notebooks

## External Resources

The official language documentation:

* [Python 3 documentation](https://docs.python.org/3/index.html)
* [Built-in functions](https://docs.python.org/3/library/functions.html)
* [Standard libraries](https://docs.python.org/3/library/index.html)
* [Glossary of terms](https://docs.python.org/3/glossary.html)
* [In-depth tutorial](https://docs.python.org/3/tutorial/index.html)

Extended language documentation:
* [IPython (Jupyter) vs. Python differences](https://ipython.readthedocs.io/en/stable/interactive/python-ipython-diff.html)
* [IPython (Jupyter) "magic" (`%`) commands](https://ipython.readthedocs.io/en/stable/interactive/magics.html)

Free interactive books created by Jake VanderPlas:

* [A Whirlwind Tour of Python](https://colab.research.google.com/github/jakevdp/WhirlwindTourOfPython/blob/master/Index.ipynb) [[PDF version]](https://www.oreilly.com/programming/free/files/a-whirlwind-tour-of-python.pdf)
* [Python Data Science Handbook](https://colab.research.google.com/github/jakevdp/PythonDataScienceHandbook/blob/master/notebooks/Index.ipynb)

# Continue to the Next Lesson

Return to home to continue to the next lession:

https://jpgill86.github.io/python-for-neuroscientists/

# License

[This work](https://github.com/jpgill86/python-for-neuroscientists) is licensed under a [Creative Commons Attribution 4.0 International
License](http://creativecommons.org/licenses/by/4.0/).