<a href="https://colab.research.google.com/github/jpgill86/python-for-neuroscientists/blob/master/notebooks/02.1-The-Core-Language-of-Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# The Core Language of Python: Part 1

This chapter is broken into multiple notebooks and will be primarily focused on "vanilla" Python. That is, the core language will be showcased, but third-party libraries (like NumPy, Pandas, Matplotlib) will be discussed elsewhere. This chapter is all about what the basic language can do.

That said, there are a some extra features available in Jupyter notebooks that are not part of the core language but which will be useful to introduce here. These will be sprinked in where appropriate.

## Getting Help While Coding

Even veteran Python programmers need to look things up sometimes! As you work through this notebook and start to write your own code, keep these tips in mind:

* Python has a built-in documentation system, which is accessed using the `help()` function. For example, `help(print)` or `help(str)` can give you more information about functions and data types (try it!). You can use it on variables that have been defined in your code as well.

* In Jupyter notebooks, you can get some of the same information (often with fewer technical details) to appear in a separate "Help" tab by using the special `?` symbol, which can be placed before or immediately after a name. For examples, try `? print` or `max?`.

* The online, official documentation is great for in-depth, definitive information: [https://docs.python.org](https://docs.python.org)

* Googling with the right search terms, like "python list slicing", will get you very far in life. Just be aware that results for older versions of Python, especially Python 2, may come up and no longer be correct. To check the version of Python you are using, just run this code:

In [ ]:
from sys import version
print(version)

3.6.9 (default, Jul 17 2020, 12:50:27)
[GCC 8.4.0]

## Comments

In Python, the `#` character indicates the start of a **comment**. Everything on a line of code that comes after a `#` character is ignored by the computer.

> *Aside: Colab allows you to attach notes to cells, which are confusingly also called "comments". These are not the same thing as code comments.*

Code comments have two purposes:

* Comments allow you to include explanations of how the code works. This is an essential habit every programmer should develop: **write helpful comments in your code**. This helps others understand how your code works. This (especially) includes *future-you*!
* You can **reversibly disable** a line of code by putting a `#` character at the start. When developing code, this is very useful.

Here's a trivial example of an explanatory comment:

In [ ]:
# calculate one plus one
1 + 1

2

Notice the comment is easily distinguishable by its color.

Colab provides a very useful keyboard shortcut for adding and removing the `#` symbol from the current line of code, or many lines at once if you select them first: Ctrl+/ (Cmd+/ on Mac).

Try placing your cursor in the code cell below and toggling the comment state of the line using the keyboard shortcut:

In [ ]:
# 1 + 1

## Variables and Operators

Data can be stored in variables using `=`. Try executing the two code cells below in order to first store the value `2` in the variable `x` and then to display the contents of `x`.

In [ ]:
# store 2 in x
x = 1 + 1

In [ ]:
# output the value of x
x

2

In Jupyter notebooks, you can list all of the variables (and functions, classes, imported modules) that you have defined, along with their values, using the "magic" command `%whos`:

In [ ]:
# remember this one -- it is super useful!
%whos

Variable   Type    Data/Info
----------------------------
version    str     3.6.9 (default, Jul 17 20<...>, 12:50:27) \n[GCC 8.4.0]
x          int     2

You can check a variable's type using the built-in `type()` function:

In [ ]:
type(x)

int

`int` stands for "integer".

Unlike some stricter languages, Python allows you to change the type of a variable effortlessly by assigning it a new value.

In [ ]:
x = 1.5

In [ ]:
type(x)

float

`float` stands for "floating point number", which is a format that computers use to represent decimal numbers. `int` and `float` are both numeric types.

Truth values are represented in Python using `True` and `False`, which have type `bool` (for "Boolean"). `True` and `False` must always start with capital letters. These values can be assigned to variables directly, or they can result from comparisons and tests.

For example, the `==` comparison operator (double-equals; this is different from the single-equals `=` used for variable assignment!) can be used to test whether two values match. It will evaluate to either `True` or `False`.

Try running the cell below twice, first with `x = 2` and a second time with `x = 1.5`. Use the keyboard shortcut for toggling comments (Ctrl+/ or Cmd+/) to switch which variable assignment is used when the cell runs.

In [ ]:
x = 2
# x = 1.5
type(x) == int

True

Python can, of course, perform the other basic mathematical operations, not just addition:

```python
5 + 2   # addition        = 7
5 - 2   # subtraction     = 3
5 * 2   # multiplication  = 10
5 / 2   # division        = 2.5
5 ** 2  # exponentiation  = 25
        # (do NOT use ^ for exponentiation, it does something very different!)

5 // 2  # integer division (drop remainder)  = 2
5 % 2   # modulus (remainder)                = 1
```

Python has many more comparison operators:

```python
x = 2      # assign 2 to x
t = True   # assign True to t
f = False  # assign False to f

x == 2     # equal                  = True
x != 2     # not equal              = False
x > 2      # greater than           = False
x < 2      # less than              = False
x >= 2     # greater than or equal  = True
x <= 2     # less than or equal     = True

t and f    # both true              = False
t or f     # either true            = True
not t      # negation               = False
not f      #                        = True
```

## Printing

To display the value of a variable or the result of a calculation, you can simply write the variable name or perform the calculation as the last thing in a code cell. For example:

In [ ]:
x = 1 + 1
x

2

If you try to do this with multiple variables or calculations, only the last will be displayed automatically:

In [ ]:
x = 1 + 1
y = x + 1

x
y

3

To display multiple things as a result of running one code cell, you can use the `print()` function:

In [ ]:
print(x)
print(y)

z = y + 1

print(z)
print(z + 1)

2
3
4
5

## Strings

Variables containing text are called strings and have type `str`. Strings can be enclosed by either double quotes (`""`) or single quotes (`''`). Which you use often comes down to personal preference.

In [ ]:
genus = "Aplysia"
species = 'californica'

type(genus)

str

Multi-line strings can be constructed using three quote marks (either `"""` or `'''`). Inside of a **triple quoted string**, including a backslash (`\`) at the end of a line will cause the line break immediately following it to be ignored.

In the example below, a backslash is included at the end of the first line so that the string will not begin with an empty line. Also, the string is printed using `print()`, instead of just displayed by naming the variable, so that the line breaks will display properly.

In [ ]:
long_string = """\
Strange women lying in ponds
distributing swords is no basis
for a system of government!
Supreme executive power derives
from a mandate from the masses,
not from some farcical aquatic
ceremony!"""

print(long_string)

Strange women lying in ponds
distributing swords is no basis
for a system of government!
Supreme executive power derives
from a mandate from the masses,
not from some farcical aquatic
ceremony!

> *Aside: The Python language is named after the British comedy troupe "Monty Python", and the text above is a quote from their 1975 film "Monty Python and the Holy Grail". You will not learn much about programming by watching it, but I still highly recommend it.*

Including a literal apostrophe (`'`) or quotation mark (`"`) inside your string can cause a problem if Python misinterprets the character as terminating your string. You can avoid this problem by either using the other type of quote to enclose your string, or by using a backslash to "escape" the literal punctuation mark, which tells Python to not interpret the character as terminating the string. That is, Python will interpret `\'` and `\"` as just punctuation in a string, rather than the end of the string.

In [ ]:
# option 1: enclose the string in double quotes
# so that the apostrophe is not misinterpreted
string1 = "The slug's ink ain't pink; it's purple."

# option 2: use a backslash to escape the apostrophe
string2 = 'The slug\'s ink ain\'t pink; it\'s purple.'

print(string1)
print(string2)

The slug's ink ain't pink; it's purple.
The slug's ink ain't pink; it's purple.

The value of a string variable can be tested with `==`. Notice that, in the following example, switching from double quotes (above, when `genus` was assigned its value) to single quotes (below) does not matter.

In [ ]:
genus == 'Aplysia'

True

Strings can also be **concatenated**, or put together, using `+`. Here, a string containing just a space is sandwiched between two string variables:

In [ ]:
genus + ' ' + species

'Aplysia californica'

> *Aside: This is an example of* **operator overloading** *where the same symbol is used in different contexts to do different things. As we saw before, the `+` operator can be used to perform arithmetic addition, as well as to concatenate strings. It can also be used to join lists, as will be described below.*

For more complex string manipulation, a special type of string called an **f-string** may be useful. F-strings are distinguished by the character `f` immediately preceding the enclosing quotes (either `f'...'` or `f"..."`). The `f` stands for "format", and f-strings allow you both to combine variables into a single string and to control the way numbers are displayed.

In an f-string, curly braces (`{}`) may enclose the names of variables or more complex expressions, and those expressions will be evaluated to create the string. For example, the previous example combined a genus and species name with `+` symbols, but this can also be done with f-strings:

In [ ]:
f'{genus} {species}'

'Aplysia californica'

F-strings allow calculations to be performed inside of the curly braces:

In [ ]:
x = 2
y = 8

f'{x} raised to the {y}th power is {x**y}'

'2 raised to the 8th power is 256'

F-strings also allow numbers to be formatted just the way you want. For example, you can control how many digits after the decimal point are displayed using `{my_number:.xf}`, where `x` is the number of digits:

In [ ]:
pi = 3.14159265358979323846

f'The ratio of a circle\'s circumferance to its diameter is {pi:.5f}'

"The ratio of a circle's circumferance to its diameter is 3.14159"

> *Aside: Prior to the addition of f-strings to Python in 2016, strings could be (and still can be) formatted using different syntax. All of these are equivalent, but f-strings tend to be, in my opinion, most readable because of their simplicity, while also being incredibly flexible:*
```python
genus + ' ' + species
'%s %s' % (genus, species)
'{} {}'.format(genus, species)
'{g} {s}'.format(g=genus, s=species)
f'{genus} {species}'
```

The built-in `str()` function can be used to convert objects of other types, such as numbers, into strings:

In [ ]:
str(123)

'123'

Strings are a data type with **method functions** (also called **member functions**), i.e., built-in functions that are associated with every string object.

> *Aside: In fact, virtually every data type, including those we have already seen (`int`, `float`, `bool`) and others we will see shortly (`list`, `tuple`, `dict`) have associated method functions. We will discuss more of these in the future.*

One example of a string method is `upper()`, which converts all letters in the string to uppercase:

In [ ]:
my_string = 'Aplysia californica'
my_string.upper()

'APLYSIA CALIFORNICA'

As you can see above, method functions are accessed in Python using **dot notation**, e.g., `my_string.upper`, where a period (`.`) separates the object name (`my_string`) and the method name (`upper`). In Colab, it is easy to see a listing of the method functions (and other attributes) associated with a variable by typing in the variable name, followed by a period, and then pausing for a brief moment. If you try it for `my_string` (assuming you evaluated the cell above), you will see a pop-up that looks like this:

![Screenshot of list methods pop-up in Colab]()

If the number of available methods is large, you may need to scroll within the pop-up to see them all. Try it!

Take some time to familiarize yourself with some of the string methods. You can use `?` to learn more about them (e.g., `my_string.upper?`). Here are some additional examples (some use lists, which will be introduced soon):

In [ ]:
my_string = 'Aplysia californica'

# convert all letters to uppercase
print(my_string.upper())

# return True if the string begins with capital A, otherwise return False
print(my_string.startswith('A'))

# count the number of occurances of lowercase i
print(my_string.count('i'))

# replace each i with an exclamation point
print(my_string.replace('i', '!'))

# split the string everywhere there is a lowercase i to make a list of smaller
# strings, discarding the i's in the process
print(my_string.split('i'))

# join each string in the list with a hyphen
print('-'.join(['pre', 'synaptic']))

# after splitting the string at the i's, join the pieces together again with
# i's, thereby reconstructing the original string
print('i'.join(my_string.split('i')))

APLYSIA CALIFORNICA
True
3
Aplys!a cal!forn!ca
['Aplys', 'a cal', 'forn', 'ca']
pre-synaptic
Aplysia californica

## If/Else Statements

Code can be executed conditionally depending on the results of comparison operations and Boolean truth values using `if`/`else` statements.

The simplest form of an `if` statement does something only if the specified condition is true. In the example below, a `print` command is executed only if `x` is positive (in this case, it is). Notice that a **colon** (`:`) terminates the condition in the line containing `if`, and the command(s) that follow are **indented**. This indentation is required and must be consistent.

In [ ]:
x = 10

if x > 0:
    # this code will run because x > 0 is true
    print('x is positive')

x is positive

If the condition is not true, as below, nothing will happen.

In [ ]:
x = -5

if x > 0:
    # this code will NOT run because x > 0 is false
    print('x is positive')

The conditionally-executed code may contain much more than a single `print` command. Any number of lines of code can be included there, but they must be consistently indented. Four spaces is a common indentation convention.

If you want some other code to run if the condition is false, use `else`. Again, a colon is needed.

In [ ]:
x = -5

if x > 0:
    # this code will NOT run because x > 0 is false
    print('x is positive')
else:
    # this code will run because the tested condition was not true
    print('x is not positive')

x is not positive

If you want alternative conditions to be tested if the first condition is false, use `elif` ("else-if"). Several of these can be chained together, and an `else` may be included at the end.

In [ ]:
x = -5

if x > 0:
    # this code will NOT run because x > 0 is false
    print('x is positive')
elif x < 0:
    # this code will run because x < 0 is true
    print('x is negative')
else:
    # this code will NOT run because one of the tested conditions was true
    print('x is zero')

x is negative

# Continue to the Next Lesson

Return to home to continue to the next lession:

https://jpgill86.github.io/python-for-neuroscientists/

# External Resources

The official language documentation:

* [Python 3 documentation](https://docs.python.org/3/index.html)
* [Built-in functions](https://docs.python.org/3/library/functions.html)
* [Standard libraries](https://docs.python.org/3/library/index.html)
* [Glossary of terms](https://docs.python.org/3/glossary.html)
* [In-depth tutorial](https://docs.python.org/3/tutorial/index.html)

Extended language documentation:
* [IPython (Jupyter) vs. Python differences](https://ipython.readthedocs.io/en/stable/interactive/python-ipython-diff.html)
* [IPython (Jupyter) "magic" (`%`) commands](https://ipython.readthedocs.io/en/stable/interactive/magics.html)

Free interactive books created by Jake VanderPlas:

* [A Whirlwind Tour of Python](https://colab.research.google.com/github/jakevdp/WhirlwindTourOfPython/blob/master/Index.ipynb) [[PDF version]](https://www.oreilly.com/programming/free/files/a-whirlwind-tour-of-python.pdf)
* [Python Data Science Handbook](https://colab.research.google.com/github/jakevdp/PythonDataScienceHandbook/blob/master/notebooks/Index.ipynb)

# License

[This work](https://github.com/jpgill86/python-for-neuroscientists) is licensed under a [Creative Commons Attribution 4.0 International
License](http://creativecommons.org/licenses/by/4.0/).