<a href="https://colab.research.google.com/github/jpgill86/python-for-neuroscientists/blob/master/notebooks/02.2-The-Core-Language-of-Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# The Core Language of Python: Part 2

## Lists

One of the most common data types for sequences is the **list**. Lists are comma-separated values enclosed by square brackets (`[]`). Here is a simple example:

In [ ]:
# create a new list using square brackets []
my_list = [0, 10, 20, 30]
my_list

[0, 10, 20, 30]

The type of a list variable is, unsurprisingly, `list`:

In [ ]:
type(my_list)

list

The built-in `range()` function can be used (in conjunction with the `list()` function for the purpose of this example) to create a list of ascending or descending numbers. As will be seen later with indexing and slicing, the numbering here is a bit weird, as it will produce a list that starts from 0 and goes up to, but does not include, your specified number.

In [ ]:
# create the numbers 0 through 19
list(range(20)) # list() is needed for this demo since range() actually returns a special type of object

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

The `range()` function also accepts "start", "stop", and "step" inputs.

In [ ]:
# create the numbers 10 through 100 in steps of 20
list(range(10, 100, 20))

[10, 30, 50, 70, 90]

Like strings, lists have many useful method functions. The `append` method can be used to add a new element to the end of a list. When `append` is used, the list is changed **in-place**, meaning that `my_list` is modified without you needing to write `my_list =`. For example:

In [ ]:
# append an item to a list
my_list.append(40) # note = is NOT needed for my_list to permanently change
my_list

[0, 10, 20, 30, 40]

Lists can also be extended by "adding" lists together using `+`. This operation does *not* cause in-place modification of the `my_list` variable, so `my_list =` is needed.

In [ ]:
# combine lists with +
my_list = my_list + [50, 60] # note = is needed for my_list to permanently change
my_list

[0, 10, 20, 30, 40, 50, 60]

The `extend` method does the same thing, but, like the `append` method, it *does* modify the variable in-place, so `my_list =` is not needed.

In [ ]:
# alternative to +
my_list.extend([70, 80]) # note = is NOT needed for my_list to permanently change
my_list

[0, 10, 20, 30, 40, 50, 60, 70, 80]

To learn more about any of the list methods, you can **view the documentation** using either `?` or the built-in `help()` function, e.g., `my_list.extend?` or `help(my_list.extend)`. For example, try looking at the documentation for `my_list.reverse`. You are encouraged to explore the other list methods too!

## Indexing and Slicing

Items in a list can be accessed by their position in the list using **indexing**, which is done using square brackets (`[]`) after the name of the list, with a position number given inside the brackets. The tricky thing to remember is that, like many other programming languages, **indexing starts from 0** in Python. That is, for our list `my_list`, to extract the first item of the list, you should use `my_list[0]`, not `my_list[1]`. If you are used to working with other languages that begin indexing with 1, such as MATLAB and Mathematica, this may take some getting used to!

In [ ]:
# select the first item by index, which is in position 0
my_list = [0, 10, 20, 30, 40, 50, 60, 70, 80]
my_list[0]

0

To access the second or third item in our list, you would use `my_list[1]` or `my_list[2]`, and so on. **In general, to access the *i*-th item in a list, you should use index *i-1*.**

You can also use negative indices to count backwards from the end of a list. For example, to access the last item in a list, use index `-1`; the second-to-last item could be accessed with index `-2`, and so on.

In [ ]:
# select the last item
my_list = [0, 10, 20, 30, 40, 50, 60, 70, 80]
my_list[-1]

80

Indexing works on strings too:

In [ ]:
# strings can be indexed just like lists
my_string = "The slug's ink ain't pink; it's purple."
print(f'The first character: {my_string[0]}')
print(f'The last character:  {my_string[-1]}')

The first character: T
The last character:  .

The concept of indexing can be extended to **slicing** a list, or extracting multiple items from it. To slice a list, provide two indices separated by a colon (`:`). There is another tricky thing to remember here, on top of indices starting with 0: **The item corresponding to the first index of the slice will be included in the result, but the item corresponding to the last index of the slice will not.** In other words, we can say that the first index is inclusive, and the last index is exclusive.

In [ ]:
# select items in positions 1 (inclusive) through 4 (exclusive)
my_list = [0, 10, 20, 30, 40, 50, 60, 70, 80]
my_list[1:4]

[10, 20, 30]

Slicing works on strings too:

In [ ]:
# strings can be sliced just like lists
my_string = "The slug's ink ain't pink; it's purple."
my_string[4:8]

'slug'

A helpful way to think about slicing is given in the [official Python tutorial](https://docs.python.org/3/tutorial/introduction.html). This example refers to slicing into the string `"Python"`, but it applies to lists as well:

> "One way to remember how slices work is to think of the indices as pointing *between* characters, with the left edge of the first character numbered 0. Then the right edge of the last character of a string of *n* characters has index *n*, for example:
```
 +---+---+---+---+---+---+
 | P | y | t | h | o | n |
 +---+---+---+---+---+---+
 0   1   2   3   4   5   6
-6  -5  -4  -3  -2  -1
```
The first row of numbers gives the position of the indices 0…6 in the string; the second row gives the corresponding negative indices. The slice from *i* to *j* consists of all characters between the edges labeled *i* and *j*, respectively."

So, with `word = "Python"`, the substring `'Py'` could be extracted using `word[0:2]`:

In [ ]:
word = "Python"
word[0:2]

'Py'

When slicing, if the number before or after the colon is omitted, the slice will begin from the very beginning or go to the very end, respectively.

In [ ]:
# select all items before position 2, excluding position 2
my_list = [0, 10, 20, 30, 40, 50, 60, 70, 80]
my_list[:2]

[0, 10]

In [ ]:
# select all items after position 2, including position 2
my_list = [0, 10, 20, 30, 40, 50, 60, 70, 80]
my_list[2:]

[20, 30, 40, 50, 60, 70, 80]

In [ ]:
# omitting both indices selects the whole list
my_list = [0, 10, 20, 30, 40, 50, 60, 70, 80]
my_list[:]

[0, 10, 20, 30, 40, 50, 60, 70, 80]

You can even mix positive and negative indices when slicing.

In [ ]:
# start from position 4 and go up to (but not including!) the second-to-last item
my_list = [0, 10, 20, 30, 40, 50, 60, 70, 80]
my_list[4:-2]

[40, 50, 60]

When slicing, you can include a third number, separated from the second by a colon, that specifies a "step size", or how far to jump through the list between each selection. The complete slice notation looks like this: `[start:stop:step]`.

In [ ]:
# select items in positions 0 (inclusive) through 6 (exclusive) in steps of 2
my_list = [0, 10, 20, 30, 40, 50, 60, 70, 80]
my_list[0:6:2]

[0, 20, 40]

If the "start" or "stop" index is omitted, or if both are omitted, the behavior is as you would expect.

In [ ]:
# get every other item
my_list = [0, 10, 20, 30, 40, 50, 60, 70, 80]
my_list[::2]

[0, 20, 40, 60, 80]

The step size can even be negative for advancing through the list backwards from the end. A common (and nearly inscrutable) trick for reversing a list is to use the slice notation `[::-1]`, which means "in steps of 1 going backwards, start from the end of the list and go to the beginning".

In [ ]:
# reverse the list (using syntax no one will understand)
my_list = [0, 10, 20, 30, 40, 50, 60, 70, 80]
my_list[::-1]

[80, 70, 60, 50, 40, 30, 20, 10, 0]

This is almost the same as using the `reverse` method function, except that `reverse` permanently changes the list in-place, whereas the slicing approach does not change the list permanently.

In [ ]:
# similar to above, but my_list is permanently reversed
# - if permanent reversal is what you need, reverse() is certainly easier to
#   understand!
# - if you wish to be obtuse for no reason, you could use
#       my_list = my_list[::-1]
#   and provide no comment explaining what it does, but I believe there is a
#   special place in hell for people who do this
my_list.reverse()
my_list

[80, 70, 60, 50, 40, 30, 20, 10, 0]

If permanent reversal is what you need, `my_list.reverse()` is certainly easier to understand! If you wish to be obtuse for no reason, you could use `my_list = my_list[::-1]` and provide no comment explaining what it does, but I believe there is a special place in hell for people who do this.

Lists do not need to be composed of objects of just one type, and lists can be nested inside of other lists.

In [ ]:
# create a new list of objects of different types, including another list
my_list = [0, 10, 20, 30, 40, 50, 60, 70, 80]
another_list = ['a', 4.5, my_list]
another_list

['a', 4.5, [0, 10, 20, 30, 40, 50, 60, 70, 80]]

To index or slice into a nested list, chain together multiple square bracket selections.

In [ ]:
# select the item in position 2 (my_list), then select the item in its position 3
another_list[2][3]

30

Items inside a list (even nested lists) can be changed using indexing. For example, this code changes the last item in the nested list:

In [ ]:
# change an item
another_list[2][-1] = 9999
another_list

['a', 4.5, [0, 10, 20, 30, 40, 50, 60, 70, 9999]]

When a named list (`my_list`) is contained within another list (`another_list`) in this way and an item in the inner list is changed like above, that change affects the original list too because the second list simply contains a reference to the first, rather than a separate copy of the data.

In [ ]:
# the original list (my_list) is changed too because another_list contains a reference to it
my_list

[0, 10, 20, 30, 40, 50, 60, 70, 9999]

## Tuples

**Tuples** are another data type for storing sequences. They are similar to lists in many ways, but tuples are created using parentheses (`()`) rather than brackets.

In [ ]:
# create a new tuple using parentheses
my_tuple = ('a', 'b', 'c')
my_tuple

('a', 'b', 'c')

Indexing and slicing into tuples works just like lists and strings.

In [ ]:
# select items in tuples just like lists
my_tuple[0]

'a'

A critical difference between lists and tuples, and between lists and strings, is that **tuples and strings are immutable**, which means they cannot be changed after creation, in some technical sense of "changed". Here's an example of an illegal operation:

In [ ]:
# tuples are immutable, meaning they are not allowed to be changed after creation
my_tuple[0] = 1 # this causes an error!

TypeError: ignored

The reasons that immutability is a useful quality of tuples, which motivates the necessity for both lists and tuples existing in the language, are a bit technical but will be touched on later when we discuss dictionaries.

## Lists vs. Tuples

In practice, conventions ofter determine whether an experienced Python programmer uses a list or a tuple when either could do the job. These conventions are not enforced by the language, but are common enough to mention here:
* Sequences of **homogeneous data** (data of one type), for which the **positions of the values are not intrinsically meaningful**, are usually stored as **lists**.
    * For example, a collection of height measurements of people could be stored in a list. Although the first measurement in the list obviously belongs to one person and the second belongs to another, this ordering is not essential on a conceptional level. You could swap the order of people without it mattering.
* Sequences of **heterogeneous data** (data of different types), or sequences for which the **positions of the values is intrinsically meaningful**, are usually stored as **tuples**.
    * Examples of the latter would be a pair of strings for first and last name, or an ordered pair of numbers representing a coordinate in space.
    * An example of the former would be a collection of data about a person, such as name (string) and age (integer), which is expected to have a certain ordering, such as name first, age second.

Here is an example where both conventions are in play at the same time:

In [ ]:
species_data = [
    # genus, species, date named, common name
    ('Aplysia',     'californica', 1863, 'California sea hare'),
    ('Macrocystis', 'pyrifera',    1820, 'Giant kelp'),
    ('Pagurus',     'samuelis',    1857, 'Blueband hermit crab'),
]

The object `species_data` is a list. The three items it contains are not in some essential order. The use of a list here, rather than a tuple, signals (by convention) to good programmers that code which uses `species_data` is expected to be able to handle the list changing through the addition or removal of species from the list.

The items inside the list are tuples. Each tuple is composed of exactly four pieces of data, including a mix of strings and integers, and always in the same order: a genus name, a species name, the year the species was given its formal scientific name, and the common name for the species. The use of tuples here, rather than lists, signals (by convention) to good programmers that this order is essential and may be relied upon in some other code, so swapping the names and dates around could cause problems.

A consequence of this convention is that if we try to access `species_data[2][0]` through indexing, we may not always know which species we will find in position 2, but we can be confident that we are accessing its genus name. This is important when looping through lists (more on that later).

At a technical level, the tuples here *could* have been lists. In fact, if the values needed to change, they would have to be lists. Likewise, the list could have been a tuple, so long as the tuple did not need to be modified after creation. Ultimately, it is a long-standing convention to do it the way shown above, and, if adhered to, it signals to people reading or using your code how you intend the data object to be handled.

As a final point, lists can be converted to tuples using the built-in `tuple()` function, and tuples can be converted to lists using the built-in `list()` function:

In [ ]:
# the built-in list() and tuple() functions can be used to convert one type to the other
# - note = is needed for my_tuple or my_list to permanently change
print(list(my_tuple))
print(tuple(my_list))

['a', 'b', 'c']
(0, 10, 20, 30, 40, 50, 60, 70, 9999)

# Continue to the Next Lesson

Return to home to continue to the next lession:

https://jpgill86.github.io/python-for-neuroscientists/

# External Resources

The official language documentation:

* [Python 3 documentation](https://docs.python.org/3/index.html)
* [Built-in functions](https://docs.python.org/3/library/functions.html)
* [Standard libraries](https://docs.python.org/3/library/index.html)
* [Glossary of terms](https://docs.python.org/3/glossary.html)
* [In-depth tutorial](https://docs.python.org/3/tutorial/index.html)

Extended language documentation:
* [IPython (Jupyter) vs. Python differences](https://ipython.readthedocs.io/en/stable/interactive/python-ipython-diff.html)
* [IPython (Jupyter) "magic" (`%`) commands](https://ipython.readthedocs.io/en/stable/interactive/magics.html)

Free interactive books created by Jake VanderPlas:

* [A Whirlwind Tour of Python](https://colab.research.google.com/github/jakevdp/WhirlwindTourOfPython/blob/master/Index.ipynb) [[PDF version]](https://www.oreilly.com/programming/free/files/a-whirlwind-tour-of-python.pdf)
* [Python Data Science Handbook](https://colab.research.google.com/github/jakevdp/PythonDataScienceHandbook/blob/master/notebooks/Index.ipynb)

# License

[This work](https://github.com/jpgill86/python-for-neuroscientists) is licensed under a [Creative Commons Attribution 4.0 International
License](http://creativecommons.org/licenses/by/4.0/).