<a href="https://colab.research.google.com/github/jpgill86/python-for-neuroscientists/blob/master/notebooks/02.4-The-Core-Language-of-Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# The Core Language of Python: Part 4

## Functions

**Functions** take inputs, called **arguments** or **parameters**, and do work with them. Often, functions will **return** a result.

Before use, functions must be **defined** using the `def` keyword. Inside the definition, results can be **returned** using the `return` keyword. Function arguments are specified in the definition inside parentheses after the function name.

A function is used, or **called**, by invoking its name with the arguments.

In [ ]:
def compute_square(x):
    return x**2

compute_square(4)

16

Variables assignment within a function has limited **scope**. This means that if a new variable is assigned within a function, it will exist within the function (local scope) but not outside it (global scope).

In [ ]:
def add_4(x):
    # this new variable has local scope and will not be accessible outside the function
    some_local_variable = x + 4
    
    # use an f-string to display the result
    print(f'{x} + 4 = {some_local_variable}')

add_4(1)

# this will fail because some_local_variable is out of scope
print(some_local_variable)

1 + 4 = 5

NameError: ignored

This also means that if a variable that already exists (a global variable) is given a value inside the function, the global variable will not be affected.

In [ ]:
x = 'original value'

print(f'x in global scope: {x}')

def print_something(text):
    # assigning x inside the function does not affect x outside
    x = text
    print(f'x in local scope: {x}')

print_something('new value')

print(f'x in global scope: {x}')

x in global scope: original value
x in local scope: new value
x in global scope: original value

Functions can be defined with multiple arguments.

In [ ]:
def quadratic(x, a, b, c):
    return a * x**2 + b * x + c

quadratic(3, 1, 0, 5)  # 1 * 3**2 + 5 = 14

14

When calling a function with multiple arguments, the order of the inputs must match the definition unless the arguments are explicitly named. This can be done using `=`. This use of `=` does not actually assign the value to the argument in the global scope.

In [ ]:
# arguments may be given out of order if they are explicitly named with =
quadratic(b=0, c=5, a=1, x=3)

# after calling the function with explicit arguments, the variables x, a, b, c
# have NOT been defined or changed in the global scope

14

Because `=` has this special non-assignment meaning in function calls, you will sometimes see seemingly odd notation where variables appear to be assigned to themselves. For example, if the parameters for `quadratic` are already defined in the global scope as variables with the same names, the function could be called like this:

In [ ]:
x = 3
a = 1
b = 0
c = 5

quadratic(b=b, c=c, a=a, x=x)

14

When you see a function call like this, remember that the names to the left of the `=` symbols are the argument names, which will exist in the local scope of the function, and the names to the right of the `=` symbols refer to variables defined in the global scope.

By default, all arguments must be provided when using the function.

In [ ]:
quadratic(3)

TypeError: ignored

Functions can be defined with default parameter values using `=` so that they are not required when calling the function. Again, this does not actually assign these values to variables in the global scope.

In [ ]:
# provide default values for parameters
def quadratic(x, a=1, b=0, c=0):
    return a * x**2 + b * x + c

quadratic(3)

9

When variables containing lists, dictionaries, or other complex objects (e.g., custom classes) are passed as arguments to a function, they are **passed by reference**, which means that the function can change those variables in the global scope. For example, if a list is passed to a function as input, the function could change items in the list:

In [ ]:
def change_list(some_list):
    # change the first item in the list to 4
    some_list[0] = 4

my_list = [1, 1, 1, 1]

# this function call will change my_list permanently in the global scope
change_list(my_list)

# the first item has changed
my_list

[4, 1, 1, 1]

The built-in function `map` can be used to apply a function to every value in a sequence:

In [ ]:
list(map(compute_square, range(5)))  # list() is used so the output displays nicely

[0, 1, 4, 9, 16]

This example is identical to the following list comprehension:

In [ ]:
[compute_square(i) for i in range(5)]

[0, 1, 4, 9, 16]

`map` can be used with multiple sequences. The first items from all sequences will be passed together as arguments to the function, then the second items, and so on.

In [ ]:
def multiply(x, y):
    return x * y

list1 = [1, 2, 3, 4]
list2 = [1, 10, 100, 1000]

list(map(multiply, list1, list2))  # list() is used so the output displays nicely

[1, 20, 300, 4000]

This behavior can also be replicated with a list comprehension and `zip()`:

In [ ]:
[multiply(x, y) for x, y in zip(list1, list2)]

[1, 20, 300, 4000]

The built-in function `filter` is used to remove all items from a sequence that do not satisfy the criterion of returning `True` when passed into a function:

In [ ]:
def greater_than_2(x):
    return x > 2

# keep only items that satisfy the condition
list(filter(greater_than_2, range(5)))  # list() is used so the output displays nicely

[3, 4]

This behavior can also be replicated by a list comprehension:

In [ ]:
[x for x in range(5) if greater_than_2(x)]

[3, 4]

`filter` does not change the variable:

In [ ]:
my_list = [0, 1, 2, 3, 4]

# return a filtered version of the list but do not actually change my_list
print(list(filter(greater_than_2, my_list)))  # list() is used so the output displays nicely

# the list was not permanently changed
print(my_list)

[3, 4]
[0, 1, 2, 3, 4]

Temporary **anonymous functions**, also called **lambda functions**, can be defined using the `lambda` keyword. They are useful in contexts were a function is needed just once to do something simple.

This example is equivalent to the previous one but does not require the function `greater_than_2` to be defined:

In [ ]:
list(filter(lambda x: x > 2, range(5)))

[3, 4]

A function can be defined with a **docstring**, or documentation string, which can provide helpful information when `help()` or `?` is used. Docstrings can span multiple lines and are sometimes very detailed (e.g., describing every function argument).

In [ ]:
def compute_square(x):
    '''Calculate the square of the input
    
    x: the number to be squared'''
    
    return x**2

help(compute_square)

Help on function compute_square in module __main__:

compute_square(x)
    Calculate the square of the input

    x: the number to be squared

Multiple values can be returned at once. If they are separated by commas without enclosing brackets, the returned object is a tuple.

In [ ]:
def powers(x):
    return x**1, x**2, x**3

x = 4
result = powers(x)

print(f'Result of powers({x}) is a tuple: {result}')

Result of powers(4) is a tuple: (4, 16, 64)

When a function returns a tuple or list, the result can be **unpacked** into multiple named variables for convenience.

In [ ]:
x = 4
first, second, third = powers(x)

print(f'Result of powers({x}) was unpacked into 3 variables...')
print(f'first:  {first}')
print(f'second: {second}')
print(f'third:  {third}')

Result of powers(4) was unpacked into 3 variables...
first:  4
second: 16
third:  64

To partially unpack the returned values and discard the rest, use `_` as a placeholder for the results you do not care about.

In [ ]:
x = 4
first, _, _ = powers(x)

print(f'The first result of powers({x}) was unpacked but the others were discarded...')
print(f'first:  {first}')

The first result of powers(4) was unpacked but the others were discarded...
first:  4

STOPPED HERE AT END OF AUGUST 23 SESSION

---

If an asterisk (`*`) precedes an argument name in the function definition, that argument name stands for a sequence of inputs.

In [ ]:
def my_func(*args):
    # everything passed to my_func is stored in args
    return args

# the retuned object is a tuple containing all of the inputs
my_func(123, 'abc', True)

(123, 'abc', True)

This is useful when the number of inputs is allowed to vary. For example, this function can take any number of numeric inputs, sums them, and returns a list of the cumulative sums:

In [ ]:
def cumulative_sum(*nums):
    result = [0]
    for x in nums:
        result.append(result[-1] + x)
    return result[1:]

print(f'Result for input 10:       {cumulative_sum(10)}')
print(f'Result for inputs 1, 2, 3: {cumulative_sum(1, 2, 3)}')

Result for input 10:       [10]
Result for inputs 1, 2, 3: [1, 3, 6]

Notice that this is different from passing a list as the first argument.

In [ ]:
# this does not work because nums should be naked numeric values, not a list
cumulative_sum([1, 2, 3])

TypeError: ignored

If a double asterisk (`**`) is used in the function definition before an argument name, that argument represents all **keyword arguments**, which are arguments that must be specified by name when the function is called.

In [ ]:
def my_func(*args, **kwargs):
    return args, kwargs

my_func(123, 'abc', True, one=1, two=2)

((123, 'abc', True), {'one': 1, 'two': 2})

## Classes

Let's create a custom **subclass** of the list data type. This class will be designed on the assumption that all values within the list are numbers (which is not true of all lists in general). For now, we won't worry about checking that this assumption is correct.

Since we are creating a new list-like class for numbers, let's call it `NumericalList`. In this first version, we'll just use the `pass` keyword to skip adding anything new.

In [ ]:
class NumericalList(list):
    pass # do nothing new

In [ ]:
my_nlist = NumericalList([1, 6, 1, 12])
print(my_nlist)
print(type(my_nlist))

[1, 6, 1, 12]
<class '__main__.NumericalList'>

Here we would say that `list` is the **parent class** of `NumericalList`. Our new class **inherits** the features of its parent and can be customized with new features (or the existing ones can be changed).

For example, the number of items in a list (its length) can be counted using the built-in `len()` function. The countability of lists is a feature that `NumericalList` inherits:

In [ ]:
len(my_nlist)

4

Similarly, `NumericalList` inherits the `list` methods, like `append()`.

In [ ]:
my_nlist.append(99)
my_nlist

[1, 6, 1, 12, 99]

So far, `NumericalList` has no useful features beyond those of its parent. Let's add one! Below we redefine the class with a new `mean()` method, which is something ordinary lists lack. Note `pass` is not needed anymore; it was needed earlier only because *something* must come after the initial semicolon.

In [ ]:
class NumericalList(list):
    def mean(self):
        return sum(self)/len(self)

In [ ]:
my_nlist = NumericalList([1, 6, 1, 12])
my_nlist.mean()

5.0

Note that all method functions need to take at least one argument, which is conventionally named `self`. This serves as a name for the `NumericalList` itself within the function.

For the sake of demonstration, let's add another method called `size()`, which just returns the length:

In [ ]:
class NumericalList(list):
    def mean(self):
        return sum(self)/len(self)
    
    def size(self):
        return len(self)

In [ ]:
my_nlist = NumericalList([1, 6, 1, 12])
my_nlist.size()

4

We can use a special **decorator**, `@property`, to mark the `size()` function as a **property**. This will allow (require, actually) `size` to be used without the parentheses.

In [ ]:
class NumericalList(list):
    def mean(self):
        return sum(self)/len(self)
    
    @property
    def size(self):
        return len(self)

In [ ]:
my_nlist = NumericalList([1, 6, 1, 12])
my_nlist.size

4

---

**TODO: Getting fancy...**

In [ ]:
class NumericalList(list):
    def mean(self):
        return sum(self)/len(self)
    
    @property
    def size(self):
        return len(self)
    
    def __add__(self, other):
        return [x+y for x, y in zip(self, other)]
    def __sub__(self, other):
        return [x-y for x, y in zip(self, other)]
    def __mul__(self, factor):
        return [x*factor for x in self]
    def __truediv__(self, factor):
        return [x/factor for x in self]
    def __neg__(self):
        return [-x for x in self]

list1 = NumericalList([1, 6, 1, 12])
list2 = NumericalList([4, 3, 7, 9])

# list1+list2
list1-list2
# list1*5
# list1/5
# -list1

[-3, 3, -6, 3]

---

Let's create another custom class. This one will be designed for representing a sequence of voltage samples, like those obtained in electrophysiology experiments. The `mean()` function and `size` property of our `NumericalList` class will be useful, so let's build another subclass, but this time instead of subclassing `list`, we'll subclass `NumericalList`. Let's call this new class `VoltageSignal`, and we'll begin with nothing added (just using `pass` again):

In [ ]:
class VoltageSignal(NumericalList):
    pass # do nothing new

In [ ]:
my_sig = VoltageSignal([1, 6, 1, 12])
print(my_sig)
print(type(my_sig))

[1, 6, 1, 12]
<class '__main__.VoltageSignal'>

Voltages could be represented with different units, like millivolts or microvolts, so it would be useful for our class to store the units when it is created, allowing that information to be accessed later. We should require that information at the time the `VoltageSignal` is created.

**TODO: Explain double underscore methods and initialization...**

In [ ]:
class VoltageSignal(NumericalList):
    def __init__(self, data):
        super().__init__(data)

In [ ]:
my_sig = VoltageSignal([1, 6, 1, 12])
print(my_sig)
print(type(my_sig))

[1, 6, 1, 12]
<class '__main__.VoltageSignal'>

So far we haven't done anything new. We've merely set the table for introducing new things. Let's now require that a second argument is provided after the numerical data, and let's store it as the `units` attribute.

In [ ]:
class VoltageSignal(NumericalList):
    def __init__(self, data, units):
        super().__init__(data)
        self.units = units

In [ ]:
my_sig = VoltageSignal([1, 6, 1, 12], 'mV')
print(my_sig)
print(my_sig.units)

[1, 6, 1, 12]
mV

Let's do something useful with the units by adding a method that can convert between millivolts and microvolts, or vice versa. We'll have it change the values in place.

In [ ]:
class VoltageSignal(NumericalList):
    def __init__(self, data, units):
        super().__init__(data)
        self.units = units
    
    def convert(self, new_units):
        if self.units == 'mV' and new_units == 'uV':
            factor = 1000
        elif self.units == 'uV' and new_units == 'mV':
            factor = 1/1000
        else:
            print('bad units!')
            return
        new_data = [x*factor for x in self]
        return VoltageSignal(new_data, new_units)

In [ ]:
my_sig = VoltageSignal([1, 6, 1, 12], 'mV')
my_sig_converted = my_sig.convert('uV')
print(my_sig_converted)
print(my_sig_converted.units)

[1000, 6000, 1000, 12000]
uV

In [ ]:
my_sig = VoltageSignal([1, 6, 1, 12], 'uV')
my_sig_converted = my_sig.convert('mV')
print(my_sig_converted)
print(my_sig_converted.units)

[0.001, 0.006, 0.001, 0.012]
mV

We still have access to the methods inherited from `NumericalList`.

In [ ]:
print(f'The mean voltage is {my_sig.mean()} {my_sig.units}. This is equivalent to {my_sig_converted.mean()} {my_sig_converted.units}.')

The mean voltage is 5.0 uV. This is equivalent to 0.005 mV.

## Handling Errors with Try-Except

TODO

# Continue to the Next Lesson

Return to home to continue to the next lession:

https://jpgill86.github.io/python-for-neuroscientists/

# External Resources

The official language documentation:

* [Python 3 documentation](https://docs.python.org/3/index.html)
* [Built-in functions](https://docs.python.org/3/library/functions.html)
* [Standard libraries](https://docs.python.org/3/library/index.html)
* [Glossary of terms](https://docs.python.org/3/glossary.html)
* [In-depth tutorial](https://docs.python.org/3/tutorial/index.html)

Extended language documentation:
* [IPython (Jupyter) vs. Python differences](https://ipython.readthedocs.io/en/stable/interactive/python-ipython-diff.html)
* [IPython (Jupyter) "magic" (`%`) commands](https://ipython.readthedocs.io/en/stable/interactive/magics.html)

Free interactive books created by Jake VanderPlas:

* [A Whirlwind Tour of Python](https://colab.research.google.com/github/jakevdp/WhirlwindTourOfPython/blob/master/Index.ipynb) [[PDF version]](https://www.oreilly.com/programming/free/files/a-whirlwind-tour-of-python.pdf)
* [Python Data Science Handbook](https://colab.research.google.com/github/jakevdp/PythonDataScienceHandbook/blob/master/notebooks/Index.ipynb)

# License

[This work](https://github.com/jpgill86/python-for-neuroscientists) is licensed under a [Creative Commons Attribution 4.0 International
License](http://creativecommons.org/licenses/by/4.0/).